<app-page-cover class="d-none d-md-block"></app-page-cover>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg mx-auto mb-5 mt-5 mt-md-0">
        <!-- Body -->
        <div class="card-body p-lg-5">
          <!-- Title -->
          <h4 class="text-center text-uppercase mb-5" translate>FORGOT_PASSWORD</h4>
          <!-- Form -->
          <form [formGroup]="form" (ngSubmit)="submit()">
            <!-- Email -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                  </span>
                </div>
                <input type="email" class="form-control" formControlName="email" [placeholder]="'EMAIL' | translate">
              </div>
              <span class="text-danger" *ngIf="error.email">{{ error.email[0] }}</span>
            </div>
            <!-- Error -->
            <p class="text-danger" *ngIf="error.non_field_errors">{{ error.non_field_errors[0] }}</p>
            <!-- Submit -->
            <button class="btn btn-primary btn-block" type="submit" [disabled]="loading" translate>
              GET_RESET_PASSWORD_LINK
            </button>
          </form>
        </div>
        <!-- Footer -->
        <div class="card-body bg-light small px-lg-5">
          <div class="btn-group btn-group-sm float-right">
            <!-- Sign up -->
            <a routerLink="/user/sign-up" class="btn btn-success" translate>JOIN_GONEVIS</a>
            <!-- Sign in -->
            <a routerLink="/user/sign-in" class="btn btn-primary" translate>SIGN_IN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
