<div *ngIf="team">
  Team
  <div *ngFor="let member of team.team">
    <img [src]="member.user.media.thumbnail_48x48" alt="">
    <p>
      {{ member.user.get_full_name }}
      <span [classList]="roles[member.role].color">{{ roles[member.role].label }}</span>
    </p>
    <!-- Promote member -->
    <div class="btn-group" dropdown *ngIf="member.role !== teamRoles().OWNER">
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
        {{ roles[member.role].label }}
      </button>
      <div *dropdownMenu class="dropdown-menu" role="menu">
        <h6 class="dropdown-header" translate>CHANGE_ROLE</h6>
        <button class="dropdown-item" [class.active]="member.role === teamRoles().EDITOR" (click)="setRole(member)">
          {{ roles[teamRoles().EDITOR].label }}
        </button>
        <button class="dropdown-item" [class.active]="member.role === teamRoles().ADMINISTRATOR"
                (click)="setRole(member)">
          {{ roles[teamRoles().ADMINISTRATOR].label }}
        </button>
      </div>
      <button *ngIf="member.role !== teamRoles().OWNER" (click)="removeMember(member, false)">Remove</button>
    </div>
  </div>
  Pending members
  <div *ngFor="let member of team.team_pending">
    <img [src]="member.user.media.thumbnail_48x48" alt="">
    <p>
      {{ member.email }}
      <span [classList]="roles[member.role].color">{{ roles[member.role].label }}</span>
      <span class="text-muted">Pending</span>
    </p>
    <button *ngIf="member.role !== teamRoles().OWNER" (click)="removeMember(member, true)">Remove</button>
  </div>
</div>

<!-- Invite form -->
<form [formGroup]="form" (ngSubmit)="invite()">
  <input type="email" formControlName="email" required>
  <!-- Errors -->
  <small class="text-danger" *ngIf="f.email.dirty && f.email.hasError('required')" translate>PLEASE_ENTER_VALUE</small>
  <small class="text-danger" *ngIf="f.email.dirty && f.email.hasError('email')" translate>
    ENTER_VALID_EMAIL_FORMAT
  </small>
  <label>
    <select formControlName="role">
      <option [ngValue]="teamRoles().EDITOR">{{ roles[teamRoles().EDITOR].label }}</option>
      <option [ngValue]="teamRoles().ADMINISTRATOR">{{ roles[teamRoles().ADMINISTRATOR].label }}</option>
    </select>
  </label>
  <button type="submit">Invite</button>
</form>
