<!-- Blog settings -->
<form class="card dash mb-3" [formGroup]="blogForm" (ngSubmit)="submitBlog()" *ngIf="settings">
  <!-- Header -->
  <div class="card-header" translate>BLOG_SETTINGS</div>
  <!-- Body -->
  <div class="card-body">
    <!-- Blog headline (title) -->
    <div class="form-group">
      <label for="title" translate>BLOG_HEADLINE</label>
      <input type="text" class="form-control" name="title" id="title" formControlName="title">
      <span class="text-danger" *ngIf="blogErrors.title">{{ blogErrors.title[0] }}</span>
    </div>
    <!-- Blog description -->
    <div class="form-group">
      <label for="description" translate>BLOG_DESCRIPTION</label>
      <textarea class="form-control" name="description" id="description" formControlName="description"
                rows="2">
      </textarea>
      <small class="form-text text-muted" translate>HELP_TEXT_BLOG_DESCRIPTION</small>
      <span class="text-danger" *ngIf="blogErrors.description">{{ blogErrors.description[0] }}</span>
    </div>
    <!-- Address -->
    <div class="form-group mb-0">
      <label translate>ADDRESS</label>
      <a [href]="settings.absolute_uri" target="_blank" class="text-primary d-block">{{ settings.absolute_uri }}</a>
    </div>
  </div>
  <!-- Footer -->
  <div class="card-footer">
    <button class="btn btn-primary float-right" [disabled]="blogLoading" translate>SAVE_CHANGES</button>
  </div>
</form>

<!-- Blog domains -->
<div class="card dash mb-3">
  <!-- Header -->
  <div class="card-header">
    <span translate>DOMAINS</span>
    <app-locked-feature [plan]="plan.Personal"></app-locked-feature>
  </div>
  <!-- Body -->
  <div class="card-body" *ngIf="settings">
    <!-- Help text -->
    <p [class.mb-0]="!settings.domains.length" translate>HELP_TEXT_DOMAINS</p>
    <!-- Domains -->
    <div class="card dash bg-light" *ngFor="let domain of settings.domains; let last = last"
         [class.mb-0]="last" [class.mb-2]="!last">
      <div class="card-body">
        <a [href]="getDomainLink(domain)" target="_blank" [title]="'DNS_NAME' | translate">{{ domain.domain }}</a>
        <a class="small text-secondary float-right ml-2" (click)="removeDomain(domain)">
          <fa-icon [icon]="faDelete"></fa-icon>
        </a>
        <span class="small text-info float-right" *ngIf="domain.is_primary" triggers="hover"
              [popover]="primaryTemplate" [popoverTitle]="'PRIMARY_DOMAIN' | translate"
              [popoverContext]="{domain: domain}" placement="left">
          <fa-icon [icon]="faPrimary"></fa-icon>
        </span>
        <a class="small text-secondary float-right" *ngIf="!domain.is_primary"
           [popover]="primaryTemplate" [popoverTitle]="'PRIMARY_DOMAIN' | translate"
           [popoverContext]="{domain: domain}" placement="left">
          <fa-icon [icon]="faNotPrimary"></fa-icon>
        </a>
        <div class="small text-muted" [title]="'DNS_TARGET' | translate"><code>{{ domain.cname }}</code></div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <form class="card-footer" [formGroup]="domainsForm" (ngSubmit)="submitDomain()">
    <div class="input-group">
      <!-- Domain name -->
      <input type="text" class="form-control" formControlName="domain"
             [placeholder]="'ENTER_YOUR_CUSTOM_DOMAIN_ADDRESS' | translate">
      <!-- Add button -->
      <div class="input-group-append">
        <button class="btn btn-success" [disabled]="domainsLoading" translate>ADD_DOMAIN</button>
      </div>
    </div>
    <!-- Error -->
    <span class="text-danger" *ngIf="domainsErrors.domain">{{ domainsErrors.domain[0] }}</span>
  </form>
</div>

<!-- Primary domain popover -->
<ng-template #primaryTemplate let-domain="domain">
  <p [class.mb-0]="domain.is_primary" [translateParams]="{domain:domain, settings:settings}" translate>
    PRIMARY_DOMAIN_INFO
  </p>
  <div class="text-right" *ngIf="!domain.is_primary">
    <button class="btn btn-info btn-sm" (click)="setPrimaryDomain(domain)" translate>SET_PRIMARY</button>
  </div>
</ng-template>
