<div class="bg-light p-5 m-5">
  <p>Elements:</p>
  <div>
    <button *ngFor="let element of elements" class="btn btn-primary btn-block mr-2">{{ element.text }}</button>
  </div>
</div>

<div>
  <p>Layout:</p>
  <div class="bg-light p-5 m-5">
<!--    <button *ngFor="let element of added" class="btn btn-outline-dark mr-2 btn-block">-->
<!--      {{ element.ref.tag }}-->
<!--      <div *ngIf="element.children">-->
<!--        <div *ngFor="let child of element.children">{{ child.tag }}</div>-->
<!--      </div>-->
<!--    </button>-->
  </div>
</div>

<div class="mt-3">
  <p>Preview:</p>
  <div [innerHTML]="output"></div>
</div>
