<div class="builder">

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- View: Structure -->
    <div *ngIf="sidebarView === 'structure'">

      <!-- Header -->
      <div class="bg-white font-weight-bold px-2 py-3 d-flex align-items-center">
        <span>Structure</span>
        <button class="btn btn-link btn-sm ml-auto py-0" title="Add Widget" (click)="sidebarView = 'widgets'"
                *ngIf="!selectedWidgetReference || selectedWidgetReference.widget.canHaveChildren">
          <fa-icon [fixedWidth]="true" [icon]="faAdd"></fa-icon>
        </button>
      </div>

      <!-- Breadcrumb -->
      <div class="bg-light px-2 py-2 shadow-sm small text-secondary border-top">
        <a (click)="selectWidgetReference()">Root</a>
        <span *ngFor="let widget of selectedWidgetReferenceParents">
          <fa-icon [fixedWidth]="true" [icon]="faPath" class="text-black-50"></fa-icon>
          <a (click)="selectWidgetReference(widget)">{{ widget.widget.name }}</a>
        </span>
      </div>

      <!-- Configs -->
      <div class="card m-2 mt-2 shadow-sm small text-secondary"
           *ngIf="selectedWidgetReference && selectedWidgetReference.widget.configs">
        <div class="card-body p-3">
          <div class="form-group" *ngFor="let config of selectedWidgetReference.widget.configs">
            <label [for]="config.id" *ngIf="config.type !== widgetConfigType.CHECKBOX">{{ config.label }}</label>
            <input class="form-control form-control-sm"
                   [type]="config.type" [id]="config.id"
                   *ngIf="config.type === widgetConfigType.TEXT || config.type === widgetConfigType.NUMBER"
                   [(ngModel)]="selectedWidgetReference.values[config.id]"
                   (ngModelChange)="updatePreview()">
            <select class="form-control form-control-sm"
                    [id]="config.id"
                    *ngIf="config.type === widgetConfigType.LIST"
                    [(ngModel)]="selectedWidgetReference.values[config.id]"
                    (ngModelChange)="updatePreview()">
              <option *ngFor="let option of config.options" [ngValue]="option">{{ option }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Structure widgets -->
      <div *ngFor="let widget of selectedWidgetReference ? selectedWidgetReference.children : widgetReferences"
           class="card m-2 mt-2 shadow-sm small text-secondary pointer">
        <div class="card-body p-3 d-flex">
          <fa-icon [fixedWidth]="true" [icon]="faWidget" size="lg" (click)="selectWidgetReference(widget)"></fa-icon>
          <div class="font-weight-bold ml-2 text-dark" (click)="selectWidgetReference(widget)">
            {{ widget.widget.name }}
          </div>
          <a class="ml-auto" (click)="deleteWidgetReference(widget)">
            <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
          </a>
        </div>
      </div>
    </div>

    <!-- View: Widgets -->
    <div *ngIf="sidebarView === 'widgets'">

      <!-- Header -->
      <div class="bg-white font-weight-bold px-2 py-3 shadow-sm d-flex align-items-center">
        <button class="btn btn-link btn-sm float-left" title="Add Widget" (click)="sidebarView = 'structure'">
          <fa-icon [fixedWidth]="true" [icon]="faBack"></fa-icon>
        </button>
        <span>Widgets</span>
      </div>

      <!-- Search widgets -->
      <div class="form-group m-2 mb-0">
        <input type="text" placeholder="Search widgets" class="form-control form-control-sm border-0 shadow-sm py-3">
      </div>

      <!-- Widgets -->
      <div class="row no-gutters">
        <div class="col-sm-6" *ngFor="let data of   widgets | keyvalue">
          <div class="card m-2 mt-2 shadow-sm text-center small text-secondary pointer" (click)="addWidget(data.key)">
            <div class="card-body p-3">
              <fa-icon [fixedWidth]="true" [icon]="faWidget" size="lg"></fa-icon>
              <div class="font-weight-bold mt-2 text-dark">{{ data.value.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Preview -->
  <div class="preview">
    <div [innerHTML]="preview"></div>
  </div>
</div>

