<!-- User -->
<div class="card shadow-sm my-3" *ngIf="user">

  <!-- Header -->
  <div class="card-header d-flex">

    <!-- Logo -->
    <img class="rounded-sm mr-3" *ngIf="user.media.thumbnail_128x128"
         [src]="user.media.thumbnail_128x128">

    <!-- Title, date joined -->
    <div class="d-flex flex-column">
      <b>{{ user.display_name }}</b>
      <span>
        {{ user.subscribed_sites_count }} {{ 'FOLLOWING' | translate }} &bull;
        {{ user.collaborating_sites_count }} {{ 'COLLABORATING' | translate }} &bull;
        @{{ user.username }}
      </span>
    </div>
  </div>

  <!-- Body -->
  <div class="card-body">
    <!-- About -->
    <div class="card-text">{{ user.about }}</div>
    <!-- Location -->
    <div class="card-text text-secondary">{{ user.location }}</div>
  </div>
</div>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" translate [class.active]="current === 'entries'" (click)="setCurrent('entries')">POSTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" translate [class.active]="current === 'blogs'" (click)="setCurrent('blogs')">BLOGS</a>
  </li>
</ul>

<!-- User entries -->
<app-entry-list [entries]="entries" [next]="next" *ngIf="current === 'entries'"></app-entry-list>

<!-- User blogs -->
<app-blog-list [blogs]="blogs" [next]="next" *ngIf="current === 'blogs'"></app-blog-list>
