<!-- Entry -->
<app-entry-list [entries]="[entry]" *ngIf="entry"></app-entry-list>

<!-- Comment section -->
<div class="card feed shadow-sm my-3" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
     (scrolled)="loadMore(next)" *ngIf="comments">

  <!-- Comment form -->
  <app-comment-form [entryId]="entry.id" (formSubmitted)="onCommentSubmit($event)" *ngIf="entry"></app-comment-form>

  <!-- Comment list -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let comment of comments; let index = index"
        [class.highlighted]="commentHighlighted === comment.id">
      <div class="media">
        <!-- Comment user image -->
        <img class="rounded-circle mr-3 bg-secondary" *ngIf="!comment.user.media">
        <img class="rounded-circle mr-3 bg-secondary" *ngIf="comment.user.media"
             [src]="comment.user.media.thumbnail_48x48">
        <!-- Comment -->
        <div class="media-body">
          <div>
            <!-- Comment user name -->
            <a [routerLink]="['/feed/user', comment.user.username]" class="text-primary font-weight-bold">
              {{ comment.user.display_name }}
            </a>
            <!-- Comment date -->
            <a class="small ml-1" *ngIf="entry" [routerLink]="['/feed/entry', entry.id]"
               [queryParams]="{ comment: comment.id }">
              {{ comment.created | date }}
            </a>
            <!-- Comment buttons -->
            <div class="btn-group btn-group-sm float-right">
              <!-- Like -->
              <button class="btn btn-link" [disabled]="loading" (click)="likeComment(comment)">
                <fa-icon [fixedWidth]="true" [icon]="['far', 'heart']" *ngIf="!comment.is_voted"></fa-icon>
                <fa-icon [fixedWidth]="true" [icon]="['fas', 'heart']" *ngIf="comment.is_voted"
                         class="text-danger"></fa-icon>
              </button>
              <div *ngIf="comment.user.id === user.id">
                <!-- Edit -->
                <ng-template #editTemplate>
                  <app-comment-form [comment]="comment" (formSubmitted)="onCommentSubmit($event)"></app-comment-form>
                </ng-template>
                <button class="btn btn-link" [disabled]="loading" [popover]="editTemplate"
                        popoverTitle="Edit" placement="top" outsideClick="true" container="body">
                  <fa-icon icon="edit"></fa-icon>
                </button>
              </div>
              <!-- Delete -->
              <button class="btn btn-link" [disabled]="loading" (click)="removeComment(comment.id, index)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
          <!-- Comment content -->
          <div class="white-space-pre-line">{{ comment.comment }}</div>
        </div>
      </div>
    </li>
  </ul>
</div>
