<!-- Entry -->
<app-entry-list [entries]="[entry]" *ngIf="entry"></app-entry-list>

<!-- Comment section -->
<div class="card shadow-sm my-3" *ngIf="comments">

  <!-- Comment form -->
  <form class="card-header bg-light" [formGroup]="form" (ngSubmit)="comment()">
    <div class="media">
      <!-- Comment user (current user) -->
      <img class="rounded-circle mr-3 bg-secondary" *ngIf="!user.media">
      <img class="rounded-circle mr-3 bg-secondary" *ngIf="user.media"
           [src]="user.media.thumbnail_48x48">
      <!-- Comment input and button -->
      <div class="media-body">
        <div class="input-group">
          <!-- Comment input -->
          <textarea name="comment" rows="2" class="form-control" [placeholder]="'ENTER_COMMENT' | translate"
                    formControlName="comment" autocomplete="off" [class.is-invalid]="errors.comment"></textarea>
          <!-- Comment button -->
          <div class="input-group-append">
            <button class="btn btn-primary" [disabled]="loading">
              <fa-icon icon="paper-plane"></fa-icon>
            </button>
          </div>
        </div>
        <!-- Errors -->
        <p class="text-danger" *ngIf="errors.comment">{{ errors.comment[0] }}</p>
      </div>
    </div>
  </form>

  <!-- Comment list -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let comment of comments; let index = index">
      <div class="media">
        <!-- Comment user image -->
        <img class="rounded-circle mr-3 bg-secondary" *ngIf="!comment.user.media">
        <img class="rounded-circle mr-3 bg-secondary" *ngIf="comment.user.media"
             [src]="comment.user.media.thumbnail_48x48">
        <!-- Comment -->
        <div class="media-body">
          <div>
            <!-- Comment user name -->
            <a href="#" class="text-primary font-weight-bold">{{ comment.user.name }}</a>
            <!-- Comment date -->
            <small class="text-secondary ml-2">{{ comment.created | date }}</small>
            <!-- Comment buttons -->
            <div class="btn-group btn-group-sm float-right">
              <!-- Like -->
              <button class="btn btn-link" [disabled]="loading" (click)="likeComment(comment)">
                <fa-icon icon="heart"></fa-icon>
              </button>
              <!-- Edit -->
              <button class="btn btn-link" [disabled]="loading">
                <fa-icon icon="edit"></fa-icon>
              </button>
              <!-- Delete -->
              <button class="btn btn-link" [disabled]="loading" (click)="removeComment(comment.id, index)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
          <!-- Comment content -->
          <div class="small white-space-pre-line">{{ comment.comment }}</div>
        </div>
      </div>
    </li>
  </ul>
</div>
