<!-- Posts -->
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
     infiniteScrollContainer=".feed-scroller"
     fromRoot="false"
     (scrolled)="loadMore(next)" appEmbed>
  <div class="card feed shadow-sm my-3" *ngFor="let entry of entries">

    <!-- Header -->
    <div class="card-header d-flex">

      <!-- Logo -->
      <img [src]="entry.site.logo.thumbnail_48x48" *ngIf="entry.site.logo" class="rounded-circle mr-3">
      <img *ngIf="!entry.site.logo" class="rounded-circle mr-3">

      <!-- Title and time since -->
      <div class="d-flex flex-column">
        <a [routerLink]="['/feed/blog', entry.site.id]"><b>{{ entry.site.title }}</b></a>
        <small>{{ entry.published | date }}</small>
      </div>

      <!-- Featured -->
      <div class="d-flex flex-column ml-auto justify-content-center text-warning"
           [tooltip]="'FEATURED' | translate" placement="left" delay="250" *ngIf="entry.featured">
        <fa-icon [icon]="star"></fa-icon>
      </div>
    </div>

    <!-- Cover image -->
    <div class="card-body cover" *ngIf="entry.media.cover_image"
         [style.background-image]="utilService.sanitizeBackgroundImage(entry.media.cover_image.file)"></div>

    <!-- Body -->
    <div class="card-body">

      <!-- Title -->
      <h5 class="card-title"><a [routerLink]="['/feed/entry', entry.id]">{{ entry.title }}</a></h5>

      <!-- Excerpt -->
      <p class="card-text" *ngIf="!useContent" [innerHTML]="entry.excerpt.toString() | stripTags"></p>

      <!-- Content -->
      <p class="card-text" *ngIf="useContent" [innerHTML]="entry.content"></p>
    </div>

    <!-- Footer -->
    <div class="card-footer">

      <!-- Like -->
      <button class="btn btn-link" (click)="like(entry)">
        <fa-icon [fixedWidth]="true" [icon]="heart" *ngIf="!entry.is_voted"></fa-icon>
        <fa-icon [fixedWidth]="true" [icon]="heartFill" *ngIf="entry.is_voted" class="text-danger"></fa-icon>
        <span *ngIf="entry.vote_count">{{ entry.vote_count }}</span>
      </button>

      <!-- Views -->
      <button class="btn btn-link" *ngIf="entry.view_count">
        <fa-icon [fixedWidth]="true" [icon]="eye"></fa-icon>
        <span>{{ entry.view_count }}</span>
      </button>

      <!-- Comments -->
      <a class="btn btn-link" [routerLink]="['/feed/entry', entry.id]">
        <fa-icon [fixedWidth]="true" [icon]="comment"></fa-icon>
        <span *ngIf="entry.active_comment_count">{{ entry.active_comment_count }}</span>
      </a>

      <!-- Bookmark -->
      <button class="btn btn-link float-right" (click)="bookmark(entry)">
        <fa-icon [fixedWidth]="true" [icon]="faBookmark" *ngIf="!entry.is_bookmarked"></fa-icon>
        <fa-icon [fixedWidth]="true" [icon]="bookmarkFill" *ngIf="entry.is_bookmarked"></fa-icon>
      </button>

      <!-- Share -->
      <ng-template #shareTemplate>
        <app-share [entry]="entry"></app-share>
      </ng-template>
      <button class="btn btn-link float-right" [popover]="shareTemplate"
              popoverTitle="Share" placement="left" [outsideClick]="true">
        <fa-icon [fixedWidth]="true" [icon]="shareSquare"></fa-icon>
      </button>
    </div>
  </div>
</div>
