<!-- No permission -->
<p *ngIf="!isOwner" class="text-center" translate>RESTRICTED_PAGE</p>
<!-- Nothing -->
<p *ngIf="!subscription && !loading && isOwner" translate>NO_BILLING</p>

<div *ngIf="subscription && isOwner">
  <!-- Subscription details -->
  <div class="card dash mb-3">
    <div class="card-header" translate>SUBSCRIPTION_DETAILS</div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-3">
          <p class="font-weight-bold mb-0 text-capitalize" style="line-height: 30px;">
            {{ subscription.plan.name }}
          </p>
        </div>
        <div class="col-3">
          <p class="font-weight-bold mb-0 text-capitalize"
             style="line-height: 30px;">$ {{ subscription.plan.price }}</p>
        </div>
        <div class="col-3">
          <p class="font-weight-bold mb-0 text-capitalize"
             style="line-height: 30px;">{{ subscription.created | date }}</p>
        </div>
        <div class="col-3 text-center">
          <button class="btn btn-danger btn-sm" (click)="showCancelModal(cancelTemplate)" translate>
            CANCEL_SUBSCRIPTION
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Transactions -->
  <div class="card dash">
    <div class="card-header" translate>TRANSACTIONS</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <!-- Table head -->
          <thead>
          <tr>
            <th translate>AMOUNT</th>
            <th translate>DATE</th>
          </tr>
          </thead>

          <!-- Table info -->
          <tr *ngFor="let transaction of transactions">
            <td>$ {{ transaction.total }}</td>
            <td>{{ transaction.created | date }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- File list modal -->
<ng-template #cancelTemplate>
  <div class="modal-header">
    <div class="d-flex align-items-center">
      <h5 class="mb-0 mr-2" translate>CANCEL_SUBSCRIPTION</h5>
    </div>
    <!-- Close -->
    <button class="ml-auto btn btn-link p-0" (click)="bsModalRef.hide()">
      <fa-icon [fixedWidth]="true" icon="times"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <!-- Text -->
    <span translate [translateParams]="{ planName : subscription.plan.name }" *ngIf="!cancelling">
      CANCEL_SUBSCRIPTION_DESCRIPTION
    </span>
    <!-- Reloading icon -->
    <div class="text-center" *ngIf="cancelling">
      <fa-icon icon="circle-notch" class="text-center" size="3x" [fixedWidth]="true" [spin]="true"></fa-icon>
    </div>
  </div>
  <!-- Buttons -->
  <div class="modal-footer" *ngIf="!cancelling">
    <button class="btn pull-left" (click)="cancelSubscription()">Yes, cancel</button>
    <button class="btn btn-success" (click)="bsModalRef.hide()">No, I changed my mind</button>
  </div>
</ng-template>
