<!-- No permission -->
<p *ngIf="!isOwner" class="text-center" translate>RESTRICTED_PAGE</p>
<!-- Nothing -->
<p *ngIf="!subscription && !loading && isOwner" translate>NO_BILLING</p>

<div *ngIf="subscription && isOwner">
  <!-- Subscription details -->
  <div class="card dash mb-3">
    <div class="card-body">
      <!-- Subscription date -->
      <small class="card-subtitle font-weight-normal text-uppercase">{{ subscription.created | date }}</small>
      <div class="card-title d-flex flex-column flex-sm-row align-items-start align-items-sm-center text-dark mb-0">
        <!-- Subscription plan name -->
        <span class="h2 font-weight-bold mr-auto">{{ subscription.plan.name }}</span>
        <!-- Subscription monthly payment -->
        <span class="badge badge-primary">${{ subscription.plan.price }} / monthly</span>
      </div>
      <div class="card-text">{{ subscription.plan.description }}</div>
    </div>
    <!-- Cancel button -->
    <div class="card-footer text-right">
      <button class="btn btn-outline-danger" (click)="showCancelModal(cancelTemplate)" translate>
        CANCEL_SUBSCRIPTION
      </button>
    </div>
  </div>
  <!-- Transactions -->
  <div class="card dash">
    <div class="card-header" translate>TRANSACTIONS</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <!-- Table head -->
          <thead>
          <tr>
            <th translate>AMOUNT</th>
            <th translate>DATE</th>
          </tr>
          </thead>

          <!-- Table info -->
          <tr *ngFor="let transaction of transactions">
            <td>$ {{ transaction.total }}</td>
            <td>{{ transaction.created | date }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- File list modal -->
<ng-template #cancelTemplate>
  <div class="modal-header">
    <div class="d-flex align-items-center">
      <h5 class="mb-0 mr-2" translate>CANCEL_SUBSCRIPTION</h5>
    </div>
    <!-- Close -->
    <button class="ml-auto btn btn-link p-0" (click)="bsModalRef.hide()">
      <fa-icon [fixedWidth]="true" icon="times"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <!-- Text -->
    <span translate [translateParams]="{ planName : subscription.plan.name }" *ngIf="!cancelling">
      CANCEL_SUBSCRIPTION_DESCRIPTION
    </span>
    <!-- Reloading icon -->
    <div class="text-center" *ngIf="cancelling">
      <fa-icon icon="circle-notch" class="text-center" size="3x" [fixedWidth]="true" [spin]="true"></fa-icon>
    </div>
  </div>
  <!-- Buttons -->
  <div class="modal-footer" *ngIf="!cancelling">
    <button class="btn pull-left" (click)="cancelSubscription()">Yes, cancel</button>
    <button class="btn btn-success" (click)="bsModalRef.hide()">No, I changed my mind</button>
  </div>
</ng-template>
