<div class="card">
  <div class="card-header">Media</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <img class="mr-3 rounded" *ngIf="settings && settings.media.cover_image"
               [src]="settings.media.cover_image.thumbnail_128x128" [width]="128">
          <div class="media-body">
            <h5 class="mt-0">Blog Cover</h5>
            <div class="btn-group btn-group-sm">
              <button class="btn btn-sm btn-secondary">Select</button>
              <button class="btn btn-sm btn-outline-secondary" *ngIf="settings && settings.media.cover_image">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <img class="mr-3 rounded" *ngIf="settings && settings.media.logo"
               [src]="settings.media.logo.thumbnail_128x128" [width]="128">
          <div class="media-body">
            <h5 class="mt-0">Blog Logo</h5>
            <div class="btn-group btn-group-sm">
              <button class="btn btn-sm btn-secondary">Select</button>
              <button class="btn btn-sm btn-outline-secondary" *ngIf="settings && settings.media.logo">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
