<!-- Media -->
<div class="card mb-3">
  <!-- Header -->
  <div class="card-header">Media</div>
  <!-- Body -->
  <div class="card-body">
    <div class="row">
      <!-- Logo -->
      <div class="col-sm-6">
        <div class="media">
          <!-- Logo image -->
          <img class="mr-3 rounded" *ngIf="settings && settings.media.logo"
               [src]="settings.media.logo.thumbnail_128x128" [width]="64">
          <div class="media-body">
            <h5 class="mt-0">Blog Logo</h5>
            <div class="btn-group btn-group-sm">
              <button class="btn btn-sm btn-secondary">Select</button>
              <!-- Delete logo-->
              <button class="btn btn-sm btn-outline-secondary" *ngIf="settings && settings.media.logo"
                      (click)="submitSettings({ logo: null })">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Cover -->
      <div class="col-sm-6">
        <div class="media">
          <!-- Cover image -->
          <img class="mr-3 rounded" *ngIf="settings && settings.media.cover_image"
               [src]="settings.media.cover_image.thumbnail_128x128" [width]="64">
          <div class="media-body">
            <h5 class="mt-0">Blog Cover</h5>
            <div class="btn-group btn-group-sm">
              <button class="btn btn-sm btn-secondary">Select</button>
              <!-- Delete cover -->
              <button class="btn btn-sm btn-outline-secondary" *ngIf="settings && settings.media.cover_image"
                      (click)="submitSettings({ cover_image: null })">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Theme -->
<form class="card mb-3" [formGroup]="themeForm" (ngSubmit)="submitSettings()">
  <!-- Header -->
  <div class="card-header">Theme</div>
  <!-- Body -->
  <div class="card-body">
    <!-- Template primary color -->
    <div class="form-group">
      <label for="template_primary_color" translate>TEMPLATE_PRIMARY_COLOR</label>
      <div class="input-group">
        <select class="custom-select" formControlName="template_primary_color" id="template_primary_color">
          <option *ngFor="let color of templatePrimaryColors" [ngValue]="color.id">{{ color.label }}</option>
        </select>
        <!-- Selected color -->
        <div class="input-group-append px-4 rounded-right"
             [ngStyle]="{'background-color': getCurrentPrimaryColor()}">
        </div>
      </div>
    </div>
    <!-- Code Highlight -->
    <div class="form-group">
      <label for="highlight_theme" translate>CODE_HIGHLIGHT</label>
      <div class="input-group">
        <select class="custom-select" formControlName="highlight_theme" id="highlight_theme">
          <option *ngFor="let theme of highlightThemes" [ngValue]="theme.id">{{ theme.label }}</option>
        </select>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="card-footer text-right">
    <!-- Submit -->
    <button class="btn btn-primary" translate>SAVE_CHANGES</button>
  </div>
</form>

<!-- Template config (theme options) -->
<div class="card mb-3">
  <!-- Header -->
  <div class="card-header" translate>THEME_OPTIONS</div>
  <!-- Body -->
  <div class="card-body" *ngIf="templateConfig">
    <!-- Fields -->
    <div class="form-group" *ngFor="let field of templateConfig.fields | keyvalue">
      <!-- Boolean field (switch/checkbox) -->
      <div *ngIf="field.value.type === 'boolean'" class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" [id]="field.key">
        <label class="custom-control-label" [for]="field.key">{{ field.value.verbose_name }}</label>
        <small class="form-text text-muted">{{ field.value.help_text }}</small>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="card-footer text-right">
    <!-- Submit -->
    <button class="btn btn-primary" translate>SAVE_CHANGES</button>
  </div>
</div>
