<div class="container mt-3">

  <!-- Comments -->
  <div class="card dash">

    <!-- Header -->
    <div class="card-header">
      <span translate>COMMENTS</span>
      <!-- Search bar -->
      <div class="search-bar">
        <app-search-bar (search)="search = $event; getComments()"></app-search-bar>
      </div>
    </div>

    <div class="card-body d-flex flex-row align-items-center bg-light py-2">
      <!-- Filters: Status filter -->
      <div class="dropdown ml-auto" dropdown>
        <button class="btn btn-light dropdown-toggle" dropdownToggle>
          <fa-icon [icon]="filter" [fixedWidth]="true" class="text-secondary mr-1"></fa-icon>
          {{ statusFilter.label | translate }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <button class="dropdown-item"
                  *ngFor="let filter of statusFilters"
                  [class.active]="filter === statusFilter"
                  (click)="statusFilter = filter; getComments()">
            {{ filter.label | translate }}
          </button>
        </div>
      </div>
      <!-- Filters: Sort fields -->
      <div class="dropdown ml-2" dropdown>
        <button class="btn btn-light dropdown-toggle" dropdownToggle>
          <fa-icon [fixedWidth]="true" [icon]="sort" class="text-secondary mr-1"></fa-icon>
          <span *ngIf="!sortField" translate>SORT_BY</span>
          <span *ngIf="sortField">{{ sortField.label | translate }}</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <!-- Clear sorting -->
          <button class="dropdown-item" [class.active]="!sortField" (click)="sortField = null; getComments()">
            <fa-icon [fixedWidth]="true" [icon]="times" [class.text-secondary]="sortField" class="mr-2"></fa-icon>
            <span translate>CLEAR</span>
          </button>
          <div class="dropdown-divider"></div>
          <!-- Sorting fields -->
          <button class="dropdown-item"
                  *ngFor="let field of sortFields"
                  [class.active]="field === sortField"
                  (click)="sortField = field; getComments()">
            <fa-icon [fixedWidth]="true" [icon]="field.icon"
                     [class.text-secondary]="field !== sortField" class="mr-2">
            </fa-icon>
            <span translate>{{ field.label }}</span>
          </button>
        </div>
      </div>

      <!-- Filters: Sort order -->
      <button class="btn btn-light ml-2" *ngIf="sortField" (click)="toggleOrder()">
        <fa-icon class="text-secondary" [fixedWidth]="true"
                 [icon]="ascending" *ngIf="sortOrder === order.ASCENDING">
        </fa-icon>
        <fa-icon class="text-secondary" [fixedWidth]="true"
                 [icon]="descending" *ngIf="sortOrder === order.DESCENDING">
        </fa-icon>
      </button>
    </div>

    <!-- Content -->
    <table class="table rounded bg-white m-0">
      <tbody>
      <tr *ngFor="let comment of comments | paginate: pagination">
        <!-- Image -->
        <th class="image">
          <app-user-avatar [name]="comment.guest_name" *ngIf="comment.guest_name"></app-user-avatar>
          <app-user-avatar [name]="comment.user.name" [media]="comment.user.media"
                           *ngIf="comment.user"></app-user-avatar>
        </th>
        <!-- User, post, date and comment -->
        <th>
          <!-- User -->
          <a class="text-primary font-weight-bold" [routerLink]="['/feed/user', comment.user.username]"
             *ngIf="comment.user">
            {{ comment.user.name }}
          </a>
          <!-- Guest user -->
          <span class="font-weight-bold">{{ comment.guest_name }} </span>
          <span class="text-lowercase" translate>COMMENTED_ON</span>
          <!-- Post -->
          <a class="text-primary font-weight-bold"
             [routerLink]="['/feed/entry', comment.commented_object_minimal_data.id]">
            {{ comment.commented_object_minimal_data.title }}
          </a>
          <!-- Date -->
          <span class="text-secondary"> &bull; {{ comment.created | date }}</span>
          <!-- Comment -->
          <div class="mt-2 white-space-pre-line" [innerHTML]="utils.sanitizeHtml(comment.comment)"></div>
        </th>
        <!-- Buttons -->
        <th class="text-right">
          <!-- Dropdown -->
          <div class="dropdown" dropdown>
            <button class="btn btn-light btn-sm" type="button" dropdownToggle>
              <fa-icon [icon]="ellipsis"></fa-icon>
            </button>
            <!-- Options -->
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <!-- View -->
              <a class="btn btn-light dropdown-item"
                 [routerLink]="['/feed/entry', comment.commented_object_minimal_data.id]"
                 [queryParams]="{ comment: comment.id }" translate>
                VIEW
              </a>
              <!-- Header -->
              <h6 class="dropdown-header" translate>CHANGE_STATUS</h6>
              <!-- Active -->
              <button class="dropdown-item" (click)="update(comment, status.Active)"
                      [class.active]="comment.status === status.Active" translate>
                ACTIVE
              </button>
              <!-- Pending -->
              <button class="dropdown-item" (click)="update(comment, status.Pending)"
                      [class.active]="comment.status === status.Pending" translate>
                PENDING
              </button>
              <!-- Hidden -->
              <button class="dropdown-item" (click)="update(comment, status.Hidden)"
                      [class.active]="comment.status === status.Hidden" translate>
                HIDDEN
              </button>
              <!-- Separated -->
              <div class="dropdown-divider"></div>
              <!-- Delete -->
              <button class="dropdown-item text-danger" (click)="delete(comment)"
                      [disabled]="comment.loading" translate>
                DELETE
              </button>
            </div>
          </div>
        </th>
      </tr>
      </tbody>
    </table>

    <!-- Loading -->
    <div class="card-body" *ngIf="!comments">
      <app-loading></app-loading>
    </div>

    <!-- No data -->
    <div class="card-body" *ngIf="comments && !comments.length">
      <div class="card-text" translate>NOTHING_HERE_YET</div>
    </div>
  </div>

  <!-- Pagination -->
  <app-pagination (pageChange)="getComments($event)"></app-pagination>
</div>
