<!-- User comments -->
<div infiniteScroll
     infiniteScrollContainer=".main-scroller"
     fromRoot="false"
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="loadMore(next)">

  <!-- User comment -->
  <div class="card feed shadow-sm my-3" *ngFor="let comment of userComments">

    <!-- Header -->
    <div class="card-header d-flex">

      <!-- Comment icon -->
      <fa-icon class="mr-2" [icon]="faPost"></fa-icon>

      <!-- Post -->
      <a class="font-weight-bold text-dark" [routerLink]="['/feed/entry', comment.entry.id]">
        {{ comment.entry.title }}
      </a>
    </div>

    <!-- Body -->
    <div class="card-body d-flex">

      <!-- User image -->
      <div class="mr-3" *ngIf="user.media.thumbnail_48x48">
        <img class="rounded-circle" [src]="user.media.thumbnail_48x48">
      </div>

      <!-- Comment, date and view -->
      <div class="w-100">

        <!-- Comment -->
        <p class="white-space-pre-line mb-2">{{ comment.comment }}</p>

        <!-- Date -->
        <span class="text-secondary">{{ comment.created | date }}</span>

        <!-- View -->
        <a [routerLink]="['/feed/entry', comment.entry.id]"
           [queryParams]="{ comment: comment.id }"
           class="float-right" translate>VIEW</a>
      </div>
    </div>
  </div>
</div>
