<form class="container" [formGroup]="form">

  <!-- Step: Address -->
  <div class="step my-5" *ngIf="step === 'address'">

    <!-- Header -->
    <h2 class="text-center font-weight-bold" translate>LETS_CREATE_YOUR_BLOG</h2>

    <!-- Content -->
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <!-- Input -->
        <div class="form-group my-5">
          <div class="input-group">
            <input type="text" class="form-control py-4" formControlName="domain"
                   [class.is-invalid]="errors.domain && loading === false"
                   [class.is-valid]="!errors.domain && loading === false"
                   (ngModelChange)="domainChanged.next($event)"
                   [placeholder]="'ENTER_BLOG_ADDRESS' | translate">
            <div class="invalid-tooltip">{{ errors.domain }}</div>
            <div class="valid-tooltip" translate>DOMAIN_IS_AVAILABLE</div>
            <div class="input-group-append">
              <span class="input-group-text text-monospace">.gonevis.com</span>
            </div>
          </div>
        </div>

        <!-- Continue button -->
        <div class="text-center">
          <button class="btn btn-primary" (click)="step = 'theme'"
                  [disabled]="loading !== false || errors.domain || form.get('domain').invalid">
            <span class="mr-2" translate>PICK_A_THEME</span>
            <fa-icon [fixedWidth]="true" [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Step: Theme -->
  <div class="step my-5" *ngIf="step === 'theme'">

    <!-- Header -->
    <h2 class="text-center font-weight-bold" translate>PICK_A_TEMPLATE</h2>

    <!-- Content -->
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let template of templates">
        <a class="card card-link shadow-sm mt-4" (click)="templateSelected = template; step = 'register'">
          <div class="card-header bg-secondary text-white text-center text-uppercase font-weight-bold py-3">
            {{ template.name }}
          </div>
          <img [src]="template.media.thumbnail_512x512" [alt]="template.name" *ngIf="template.media.thumbnail_512x512"
               class="card-img-bottom">
          <div class="card-body" *ngIf="!template.media.thumbnail_512x512">
            <div class="card-text text-center" translate>PREVIEW_NOT_AVAILABLE</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</form>
