<div class="d-flex flex-column h-100 mat-app-background">
  <!-- Users -->
  <div class="users-container p-3" (click)="onUsersContainerClick($event)">
    <ng-template [ngIf]="!selectedCircle.circle">
      <!-- Search input -->
      <form [formGroup]="formSearch" (ngSubmit)="loadAvailableCircleMembers(this.formSearch.value.search)">
        <div class="form-group">
          <input type="text" class="form-control" [placeholder]="'SEARCH' | translate" formControlName="search">
        </div>
      </form>

      <div class="row no-gutters">
        <div class="mb-3 mr-3 col-2" *ngFor="let member of availableCircleMembers; let last = last; let index = index">
          <div class="card p-2 rounded"
               (click)="handleMemberClick($event, member, index)"
               [class.selected]="selection.isSelected(member)"
               [class.dragging-selected]="dragStarted && selection.isSelected(member)"
               [draggable]="true"
               (dragstart)="onMemberDragStart($event, member)"
               (drag)="onMemberDragging($event)"
               (dragend)="dragStarted = false"
               (mouseenter)="onMemberHover(member.id)"
               (mouseleave)="circlesWithMember = []">
            <div class="d-flex align-items-center">
              <img [src]="member.user.media.thumbnail_48x48" class="mr-2 rounded" width="48px" height="48px"
                   *ngIf="member.user.media.thumbnail_48x48">
              <div class="d-flex flex-column">
                <span class="text-dark font-weight-bold">{{ member.user.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- Circle help -->
  <div class="circles-help bg-white text-center">
    Drag people to your circles to share
    <fa-icon [icon]="faUserFriends" class="ml-3"></fa-icon>
  </div>
  <!-- circles -->
  <div class="circles-container bg-white py-2">
    <div class="d-flex flex-column circle-creator-button">
      <!-- Members -->
      <div class="members" matRipple (click)="showCircleCreatorModal()">
        <fa-icon [icon]="faPlus" size="5x"></fa-icon>
        <div class="helper-text text-center mat-hint">
          Drop or click to <br> create circle
        </div>
      </div>
    </div>
    <div *ngFor="let circle of circles">
      <div class="d-flex flex-column drop-zone"
           (drop)="onCircleDrop($event, circle)"
           (dragenter)="circleDragIndicator($event, true, circle.id)"
           (dragleave)="circleDragIndicator($event, false, circle.id)"
           (dragover)="$event.preventDefault()"
           (mouseenter)="circlesData[circle.id].hovered = true"
           (mouseleave)="circlesData[circle.id].hovered = false"
           [class.drag-started]="dragStarted"
           [class.member-exists]="circlesWithMember.includes(circle.id)"
           [class.hovered]="circlesData[circle.id].hovered">
        <!--        (click)="circlesData[circle.id].added.count = 5; circlesData[circle.id].added.showInfo = true"-->
        <span>{{ circle.name }}</span>
        <span class="text-secondary">{{ circlesData[circle.id].membersCount }}</span>
        <!-- Members -->
        <ng-template [ngIf]="circlesData[circle.id].hovered">
          <div class="members" [@scaleIn]="circlesData[circle.id].members.length">
            <div class="circle-member" *ngFor="let member of circlesData[circle.id].members | slice:0:8"
                 [style.background-image]="util.sanitizeBackgroundImage(member.user.media.thumbnail_48x48)">
            <span *ngIf="!member.user.media.picture" [title]="member.user.name">
              {{ member.user.name[0] }}
            </span>
            </div>
          </div>
        </ng-template>
        <!-- Add animation -->
        <div class="added-information" [@onMemberAdd]
             (@onMemberAdd.done)="circlesData[circle.id].added.showInfo = false"
             *ngIf="circlesData[circle.id].added.showInfo">+{{ circlesData[circle.id].added.count }}</div>
      </div>
    </div>
  </div>
</div>

<!-- Link edit portal -->
<div #dragPreviewTemplateRef class="drag-preview shadow" *ngIf="dragStarted">
  <fa-icon class="mr-2" [icon]="selection.selected.length === 1 ? faUser : faUserFriends"></fa-icon>
  Move {{ selection.selected.length }} people
</div>
