@import "variables";

.circle-wrapper {
  width: 100%;
  padding-bottom: 100%;

  .circle {
    position: absolute;
    width: 100%;
    height: calc(100% - 55px);
    display: flex;
    align-items: center;
    justify-content: center;

    .circle-info {
      border: 4px solid $secondary;
      width: 80%;
      height: 80%;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .circle-name {
        font-weight: bold;
        font-size: $font-size-lg;
        text-transform: uppercase;
        color: $primary;
      }

      .circle-members-count {
        font-size: $font-size-lg * 2;
        color: lighten($primary, 5%);
      }
    }

    .circle-members {
      width: calc(80% + 48px);
      height: calc(80% + 48px);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;

      .circle-member {
        width: calc(48px + 2px);
        height: calc(48px + 2px);
        border: 2px solid $secondary;
        border-radius: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
        background-color: $info;

        &:nth-child(1) {
          left: 5px;
        }

        &:nth-child(2) {
          top: 0;
          left: 0;
          margin: calc(20% - 48px / 2);
        }

        &:nth-child(3) {
          top: 5px;
        }

        &:nth-child(4) {
          top: 0;
          right: 0;
          margin: calc(20% - 48px / 2);
        }

        &:nth-child(5) {
          right: 5px;
        }

        &:nth-child(6) {
          bottom: 0;
          right: 0;
          margin: calc(20% - 48px / 2);
        }

        &:nth-child(7) {
          bottom: 5px;
        }

        &:nth-child(8) {
          bottom: 0;
          left: 0;
          margin: calc(20% - 48px / 2);
        }
      }
    }
  }
}
