<div class="modal-content border-0">

  <!-- Header -->
  <div class="modal-header p-3 d-flex align-items-center" @flyInFlyOut *ngIf="!full">

    <!-- Title -->
    <p class="modal-title font-weight-bold" translate>{{ file.file_name }}</p>

    <!-- Buttons -->
    <div class="ml-auto">

      <!-- Delete -->
      <button class="btn btn-light ml-2" (click)="delete()">
        <fa-icon [fixedWidth]="true" [icon]="trash"></fa-icon>
      </button>

      <!-- Close -->
      <button class="btn btn-light ml-2" (click)="modal.hide()">
        <fa-icon [fixedWidth]="true" [icon]="times"></fa-icon>
      </button>
    </div>
  </div>

  <!-- Body -->
  <div class="modal-body" (click)="full = !full">
    <img [src]="file.file" [alt]="file.file_name">
  </div>
</div>
