<div class="modal-content border-0">

  <!-- Header -->
  <div class="modal-header" @flyInFlyOut *ngIf="!full">
    <!-- Title -->
    <h5 class="modal-title" translate>{{ file.file_name }}</h5>
    <!-- Close -->
    <button class="ml-auto btn btn-link p-0" (click)="modal.hide()">
      <fa-icon [fixedWidth]="true" icon="times"></fa-icon>
    </button>
  </div>

  <!-- Body -->
  <div class="modal-body" (click)="full = !full">
    <img [src]="file.file" [alt]="file.file_name" class="shadow-sm">
  </div>
</div>
