<div class="container">
  <div class="card my-3">

    <!-- Title -->
    <div class="card-header" translate>NAVIGATIONS</div>

    <!-- Body -->
    <div class="card-body" *ngIf="navigations && navigations.length" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="d-flex align-items-center mb-2" cdkDrag cdkDragLockAxis="y"
           *ngFor="let navigation of navigations; let index = index; let last = last" [class.mb-0]="last">
        <!-- Handle -->
        <button class="btn btn-link mr-2" cdkDragHandle>
          <fa-icon icon="grip-lines-vertical" [fixedWidth]="true"></fa-icon>
        </button>
        <!-- Label -->
        <input type="text" class="form-control mr-2 item-label" [placeholder]="'LABEL' | translate"
               [(ngModel)]="navigation.label"
               [class.is-invalid]="errors[index] && errors[index].label">
        <!-- Url -->
        <input type="text" class="form-control mr-2 item-url" [placeholder]="'URL' | translate"
               [(ngModel)]="navigation.url"
               [class.is-invalid]="errors[index] && errors[index].url">
        <!-- Tooltip -->
        <input type="text" class="form-control mr-2 item-tooltip" [placeholder]="'TOOLTIP' | translate"
               [(ngModel)]="navigation.tooltip"
               [class.is-invalid]="errors[index] && errors[index].tooltip">
        <!-- Icon -->
        <input type="text" class="form-control mr-2 item-icon" [placeholder]="'ICON_CLASS' | translate"
               [(ngModel)]="navigation.icon"
               [class.is-invalid]="errors[index] && errors[index].icon">
        <!-- Color -->
        <input type="text" class="form-control item-color" [placeholder]="'COLOR' | translate"
               [(ngModel)]="navigation.color"
               [class.is-invalid]="errors[index] && errors[index].color">
        <!-- Delete -->
        <button class="btn btn-link" (click)="navigations.splice(index, 1)">
          <fa-icon icon="trash" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Body (no navigations) -->
    <div class="card-body" *ngIf="navigations && !navigations.length">
      <div class="card-text text-secondary" translate>NOTHING_HERE</div>
    </div>

    <!-- Footer -->
    <div class="card-footer text-right">
      <button class="btn btn-success mr-2" (click)="add()">
        <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
      </button>
      <button class="btn btn-primary" [disabled]="loading" (click)="update()" translate>SAVE_CHANGES</button>
    </div>
  </div>
</div>
