<!-- Cover -->
<div class="container-fluid pt-5 cover" [style.background-image]="blogCover">
  <div class="container">
    <div class="row">

      <!-- Stat: Publication -->
      <div class="col-lg-3 col-md-6">
        <a class="card card-link dash stat mb-4" routerLink="../../../posts">
          <div class="card-body bg-success">
            <fa-icon [fixedWidth]="true" [icon]="faPublications"></fa-icon>
          </div>
          <div class="card-body">
            <h1>
              <span *ngIf="metrics">{{ metrics.metrics.published_entry_count | number }}</span>
              <span *ngIf="!metrics">0</span>
            </h1>
            <div translate>PUBLICATION</div>
          </div>
        </a>
      </div>

      <!-- Stat: Comments -->
      <div class="col-lg-3 col-md-6">
        <a class="card card-link dash stat mb-4" routerLink="../../../comments">
          <div class="card-body bg-info">
            <fa-icon [fixedWidth]="true" [icon]="faComments"></fa-icon>
          </div>
          <div class="card-body">
            <h1>
              <span *ngIf="metrics">{{ metrics.metrics.active_comment_count | number }}</span>
              <span *ngIf="!metrics">0</span>
            </h1>
            <div translate>COMMENTS</div>
          </div>
        </a>
      </div>

      <!-- Stat: Followers -->
      <div class="col-lg-3 col-md-6">
        <a class="card card-link dash stat mb-4" (click)="showSubscribers()">
          <div class="card-body bg-warning">
            <fa-icon [fixedWidth]="true" [icon]="faFollowers"></fa-icon>
          </div>
          <div class="card-body">
            <h1>
              <span *ngIf="metrics">{{ metrics.metrics.subscriber_count | number }}</span>
              <span *ngIf="!metrics">0</span>
            </h1>
            <div translate>FOLLOWERS</div>
          </div>
        </a>
      </div>

      <!-- Stat: Storage -->
      <div class="col-lg-3 col-md-6">
        <div class="card dash stat mb-4">
          <div class="card-body bg-danger">
            <fa-icon [fixedWidth]="true" [icon]="faFiles"></fa-icon>
          </div>
          <div class="card-body">
            <h1>
              <span *ngIf="metrics">{{ metrics.metrics.dolphin.file_count | number }}</span>
              <span *ngIf="!metrics">0</span>
            </h1>
            <div translate>FILES</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cards -->
<div class="container mt-3">
  <div class="row">

    <!-- Left -->
    <div class="col-md-8">

      <!-- Posts -->
      <div class="card dash mb-4" *ngIf="entries">
        <!-- Header -->
        <div class="card-header">
          <a class="init" routerLink="../../../posts" translate>POSTS</a>
          <span class="card-label" *ngIf="metrics">
            {{ metrics.metrics.published_entry_count | number}}
          </span>
        </div>
        <div class="list-group-flush pb-1">
          <a class="list-group-item list-group-item-action d-flex" *ngFor="let entry of entries"
             [routerLink]="['../../../write', entry.id]">
            <!-- title -->
            <span>{{ entry.title }}</span>
            <!-- Stats -->
            <div class="text-secondary bg-light ml-auto px-2">
              <!-- Likes -->
              <small class="mr-2">
                <fa-icon [fixedWidth]="true" [icon]="like"></fa-icon>
                {{ entry.vote_count | number }}
              </small>
              <!-- Comments -->
              <small class="mr-2">
                <fa-icon [fixedWidth]="true" [icon]="faComments"></fa-icon>
                {{ entry.comment_count | number }}
              </small>
              <!-- Votes -->
              <small>
                <fa-icon [fixedWidth]="true" [icon]="eye"></fa-icon>
                {{ entry.view_count | number }}
              </small>
            </div>
          </a>
          <!-- No data -->
          <div class="card-body" *ngIf="entries && !entries.length">
            <div class="card-text" translate>NOTHING_HERE_YET</div>
          </div>
        </div>
      </div>

      <!-- Comments -->
      <div class="card dash mb-4" *ngIf="comments">
        <!-- Header -->
        <div class="card-header">
          <a class="init" routerLink="../../../comments" translate>COMMENTS</a>
          <span class="card-label" *ngIf="metrics">
            {{ metrics.metrics.comment_count | number }}
          </span>
        </div>
        <div class="list-group-flush pb-1">
          <a class="list-group-item list-group-item-action" *ngFor="let comment of comments"
             [routerLink]="['/feed/entry', comment.commented_object_minimal_data.id]"
             [queryParams]="{ comment: comment.id }">
            <!-- Name-->
            <small class="text-secondary">{{ comment.user.name }}: </small>
            <!-- Comment -->
            <span>{{ comment.comment }}</span>
            <!-- Date -->
            <small class="float-right">{{ comment.created | date }}</small>
          </a>
          <!-- No data -->
          <div class="card-body" *ngIf="comments && !comments.length">
            <div class="card-text" translate>NOTHING_HERE_YET</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="col-md-4">

      <!-- Publication -->
      <div class="card dash mb-4">
        <div class="card-header text-capitalize" translate>PUBLICATION</div>
        <div class="list-group-flush pb-1">
          <!-- Posts -->
          <div class="list-group-item d-flex">
            <span translate>POSTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.entry_count | number }}</span>
          </div>
          <!-- Published -->
          <div class="list-group-item d-flex">
            <span translate>PUBLISHED_POSTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.published_entry_count | number }}</span>
          </div>
          <!-- Draft -->
          <div class="list-group-item d-flex">
            <span translate>DRAFT_POSTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.draft_entry_count | number }}</span>
          </div>
        </div>
      </div>

      <!-- Comment overview -->
      <div class="card dash mb-4">
        <div class="card-header">
          <a class="text-capitalize" routerLink="../../../comments" translate>COMMENT_OVERVIEW</a>
        </div>
        <div class="list-group-flush pb-1">
          <!-- All comments -->
          <div class="list-group-item d-flex">
            <span translate>ALL_COMMENTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.comment_count | number }}</span>
          </div>
          <!-- Active comments -->
          <div class="list-group-item d-flex">
            <span translate>ACTIVE_COMMENTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.active_comment_count | number }}</span>
          </div>
          <!-- Pending comments -->
          <div class="list-group-item d-flex">
            <span translate>PENDING_COMMENTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.pending_comment_count | number }}</span>
          </div>
          <!-- Hidden comments -->
          <div class="list-group-item d-flex">
            <span translate>HIDDEN_COMMENTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.hidden_comment_count | number }}</span>
          </div>
        </div>
      </div>

      <!-- Blog overview -->
      <div class="card dash mb-4">
        <div class="card-header">
          <a class="text-capitalize" routerLink="../../../settings/general" translate>BLOG_OVERVIEW</a>
        </div>
        <div class="list-group-flush pb-1">
          <!-- Subscribers -->
          <div class="list-group-item d-flex">
            <span translate>FOLLOWERS</span>
            <button class="ml-auto btn btn-sm btn-primary py-0" *ngIf="metrics" (click)="showSubscribers()">
              {{ metrics.metrics.subscriber_count | number }}
            </button>
          </div>
          <!-- Theme and layout -->
          <div class="list-group-item d-flex" *ngIf="templateConfig">
            <span translate>THEME_AND_LAYOUT</span>
            <a class="ml-auto btn btn-sm btn-primary py-0" routerLink="../../../settings/appearance"
               *ngIf="templateConfig">
              {{ templateConfig.name | uppercase }}
            </a>
          </div>
        </div>
      </div>

      <!-- Storage -->
      <div class="card dash mb-4">
        <div class="card-header text-capitalize" translate>STORAGE</div>
        <div class="list-group-flush pb-1">
          <!-- Files -->
          <div class="list-group-item d-flex">
            <span translate>FILES</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.dolphin.file_count | number }}</span>
          </div>
          <!-- Used storage -->
          <div class="list-group-item d-flex">
            <span translate>USED_STORAGE</span>
            <span class="ml-auto" *ngIf="metrics">
              {{ metrics.metrics.dolphin.used_storage * 1000000 | bytes:2 }}
            </span>
          </div>
          <!-- Available storage -->
          <div class="list-group-item d-flex">
            <span translate>AVAILABLE_STORAGE</span>
            <span class="ml-auto" *ngIf="metrics">
              {{ metrics.metrics.dolphin.available_storage * 1000000 | bytes:2 }}
            </span>
          </div>
        </div>
      </div>

      <!-- Team -->
      <div class="card dash mb-4">
        <div class="card-header">
          <a class="text-capitalize" routerLink="../../../team" translate>TEAM</a>
        </div>
        <div class="list-group-flush pb-1">
          <!-- Team members -->
          <div class="list-group-item d-flex">
            <span translate>TEAM_MEMBERS</span>
            <!-- Members count -->
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.team_member_count }}</span>
          </div>
          <!-- pending Team members -->
          <div class="list-group-item d-flex">
            <span translate>PENDING_TEAM_MEMBERS</span>
            <!-- Members count -->
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.pending_team_member_count }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
