<!-- Cover -->
<div class="container-fluid pt-5 px-lg-4 cover" [style.background-image]="blogCover()">
  <div class="row">

    <!-- Stat: Publication -->
    <div class="col-lg-3 col-lg-6 col-xl-3">
      <a class="card card-link dash stat mb-4" routerLink="../../../posts">
        <div class="card-body icon bg-success">
          <fa-icon [fixedWidth]="true" [icon]="faPublications"></fa-icon>
        </div>
        <div class="card-body number">
          <h1>
            <span *ngIf="metrics">{{ metrics.metrics.published_entry_count | number }}</span>
            <span *ngIf="!metrics">0</span>
          </h1>
          <div translate>PUBLICATION</div>
        </div>
      </a>
    </div>

    <!-- Stat: Comments -->
    <div class="col-lg-3 col-lg-6 col-xl-3">
      <a class="card card-link dash stat mb-4" routerLink="../../../comments">
        <div class="card-body icon bg-info">
          <fa-icon [fixedWidth]="true" [icon]="faComments"></fa-icon>
        </div>
        <div class="card-body number">
          <h1>
            <span *ngIf="metrics">{{ metrics.metrics.active_comment_count | number }}</span>
            <span *ngIf="!metrics">0</span>
          </h1>
          <div translate>COMMENTS</div>
        </div>
      </a>
    </div>

    <!-- Stat: Followers -->
    <div class="col-lg-3 col-lg-6 col-xl-3">
      <a class="card card-link dash stat mb-4" (click)="showSubscribers()">
        <div class="card-body icon bg-warning">
          <fa-icon [fixedWidth]="true" [icon]="faFollowers"></fa-icon>
        </div>
        <div class="card-body number">
          <h1>
            <span *ngIf="metrics">{{ metrics.metrics.subscriber_count | number }}</span>
            <span *ngIf="!metrics">0</span>
          </h1>
          <div translate>FOLLOWERS</div>
        </div>
      </a>
    </div>

    <!-- Stat: Storage -->
    <div class="col-lg-3 col-lg-6 col-xl-3">
      <div class="card dash stat mb-4" [tooltip]="storageTooltip()" placement="bottom">
        <div class="card-body icon bg-danger">
          <fa-icon [fixedWidth]="true" [icon]="faFiles"></fa-icon>
        </div>
        <div class="card-body number">
          <h1>
            <span *ngIf="metrics">{{ metrics.metrics.dolphin.file_count | number }}</span>
            <span *ngIf="!metrics">0</span>
          </h1>
          <div translate>FILES</div>
        </div>
        <div class="card-body bar" *ngIf="metrics">
          <div class="progress progress-vertical">
            <div class="progress-bar bg-danger"
                 [style.height]="metrics.metrics.dolphin.used_storage_percentage + '%'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cards -->
<div class="container-fluid mt-3 px-lg-4">
  <div class="row">

    <!-- Left -->
    <div class="col-lg-8">

      <!-- Statistics -->
      <div class="card dash tabs mb-4">

        <!-- Header -->
        <div class="card-header">

          <!-- Label -->
          <div class="btn-group mr-auto" dropdown>
            <a dropdownToggle class="dropdown-toggle text-capitalize">
              {{ statisticsItem.label | translate }} <span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu">
              <button class="dropdown-item text-capitalize"
                      *ngFor="let item of statisticsItems"
                      (click)="statisticsItem = item"
                      [class.active]="statisticsItem === item">
                {{ item.label | translate }}
              </button>
            </div>
          </div>

          <!-- Resolutions -->
          <div class="nav nav-pills" [title]="'CHART_RESOLUTION' | translate">
            <li class="nav-item" *ngFor="let resolution of statisticsResolutions">
              <a class="nav-link" (click)="statisticsResolution = resolution"
                 [class.active]="statisticsResolution === resolution">
                <span class="text-capitalize">{{ resolution | uppercase | translate }}</span>
              </a>
            </li>
          </div>
        </div>

        <!-- Chart -->
        <div class="card-body pl-0 pb-0">
          <app-metric-stat-chart-line [refresh]="statisticsRefresh"
                                      [item]="statisticsItem.value"
                                      [resolution]="statisticsResolution"
                                      [height]="317">
          </app-metric-stat-chart-line>
        </div>
      </div>

      <!-- Posts and comments -->
      <div class="card dash tabs mb-4 bg-light">

        <!-- Header -->
        <div class="card-header">
          <ul class="nav nav-pills">

            <!-- Posts -->
            <li class="nav-item">
              <a class="nav-link" [class.active]="tab === 'entries'" (click)="tab = 'entries'">
                <span translate>POSTS</span>
                <span class="badge badge-warning ml-1" *ngIf="metrics && metrics.metrics.draft_entry_count">
                  {{ metrics.metrics.draft_entry_count }}
                </span>
              </a>
            </li>

            <!-- Comments -->
            <li class="nav-item">
              <a class="nav-link" [class.active]="tab === 'comments'" (click)="tab = 'comments'">
                <span translate>COMMENTS</span>
                <span class="badge badge-warning ml-1" *ngIf="metrics && metrics.metrics.pending_comment_count">
                  {{ metrics.metrics.pending_comment_count }}
                </span>
              </a>
            </li>
          </ul>

          <!-- Count -->
          <span class="card-label" *ngIf="metrics">
            <span *ngIf="tab === 'entries'">{{ metrics.metrics.published_entry_count | number }}</span>
            <span *ngIf="tab === 'comments'">{{ metrics.metrics.active_comment_count | number }}</span>
          </span>
        </div>

        <!-- Body: Data (entries) -->
        <div class="card-body" *ngIf="
             tab === 'entries' && (
             loadingEntries &&
             entryGroups[0].entries.length ||
             entryGroups[1].entries.length)">

          <!-- Groups -->
          <div *ngFor="let group of entryGroups; let first = first"
               [hidden]="!group.entries.length"
               [class.mt-4]="!first">

            <!-- Group -->
            <p class="font-weight-bold" translate>{{ entryStatusLabels[group.status] }}</p>

            <!-- Posts -->
            <div class="card dash" *ngFor="let entry of group.entries; let last = last" [class.mb-2]="!last">
              <div class="card-body">

                <!-- Title -->
                <p class="m-1"><a [routerLink]="['../../../write', entry.id]">{{ entry.title }}</a></p>

                <!-- Info -->
                <div class="ml-1">

                  <!-- Likes -->
                  <div class="badge badge-light font-weight-normal text-secondary mr-2">
                    <fa-icon [fixedWidth]="true" [icon]="like"></fa-icon>
                    <span class="ml-1">{{ entry.vote_count | number }}</span>
                  </div>

                  <!-- Comments -->
                  <div class="badge badge-light font-weight-normal text-secondary mr-2">
                    <fa-icon [fixedWidth]="true" [icon]="faComments"></fa-icon>
                    <span class="ml-1">{{ entry.comment_count | number }}</span>
                  </div>

                  <!-- Votes -->
                  <div class="badge badge-light font-weight-normal text-secondary">
                    <fa-icon [fixedWidth]="true" [icon]="eye"></fa-icon>
                    <span class="ml-1">{{ entry.view_count | number }}</span>
                  </div>

                  <!-- Date -->
                  <div class="float-right small text-secondary" [tooltip]="entry[group.dateKey] | date:'hh:mm aa'">
                    <span translate *ngIf="group.dateKey === 'created'">CREATED_ON</span>
                    <span translate *ngIf="group.dateKey === 'published'">PUBLISHED_ON</span>
                    {{ entry[group.dateKey] | date }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Body: Data (comments) -->
        <div class="list-group-flush pb-1" *ngIf="tab === 'comments' && comments && comments.length">
          <a class="list-group-item list-group-item-action" *ngFor="let comment of comments"
             [routerLink]="['/feed/entry', comment.commented_object_minimal_data.id]"
             [queryParams]="{ comment: comment.id }">
            <!-- Name-->
            <small class="text-secondary">{{ comment.user.name }}: </small>
            <!-- Comment -->
            <span [innerHTML]="utils.sanitizeHtml(comment.comment)"></span>
            <!-- Date -->
            <small class="float-right">{{ comment.created | date }}</small>
          </a>
        </div>

        <!-- Body: No data -->
        <div class="card-body" translate *ngIf="
             tab === 'entries' &&
             !loadingEntries &&
             !entryGroups[0].entries.length &&
             !entryGroups[1].entries.length ||
             tab === 'comments' &&
             comments &&
             !comments.length">
          NOTHING_HERE_YET
        </div>

        <!-- Body: Loading -->
        <div class="card-body" *ngIf="tab === 'entries' && loadingEntries">
          <app-loading></app-loading>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="col-lg-4">

      <!-- Quick Draft -->
      <form class="card dash mb-4" *ngIf="quickDraftForm.form"
            [formGroup]="quickDraftForm.form" (ngSubmit)="submitQuickDraft()">

        <!-- Header -->
        <div class="card-header text-capitalize" translate>QUICK_DRAFT</div>

        <!-- Input -->
        <textarea class="card-body form-control border-0 shadow-none" rows="4"
                  formControlName="content" [placeholder]="'WRITE_AWAY' | translate"></textarea>

        <!-- Button -->
        <div class="card-footer text-right" *ngIf="quickDraftForm.form.get('content').value">
          <button class="btn btn-primary" [disabled]="quickDraftForm.loading" translate>SAVE</button>
        </div>
      </form>

      <!-- Publication -->
      <div class="card dash mb-4">
        <div class="card-header text-capitalize" translate>PUBLICATION</div>
        <div class="list-group-flush pb-1">
          <!-- Posts -->
          <div class="list-group-item d-flex">
            <span translate>POSTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.entry_count | number }}</span>
          </div>
          <!-- Published -->
          <div class="list-group-item d-flex">
            <span translate>PUBLISHED_POSTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.published_entry_count | number }}</span>
          </div>
          <!-- Draft -->
          <div class="list-group-item d-flex">
            <span translate>DRAFT_POSTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.draft_entry_count | number }}</span>
          </div>
        </div>
      </div>

      <!-- Comment overview -->
      <div class="card dash mb-4">
        <div class="card-header">
          <a class="text-capitalize" routerLink="../../../comments" translate>COMMENT_OVERVIEW</a>
        </div>
        <div class="list-group-flush pb-1">
          <!-- All comments -->
          <div class="list-group-item d-flex">
            <span translate>ALL_COMMENTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.comment_count | number }}</span>
          </div>
          <!-- Active comments -->
          <div class="list-group-item d-flex">
            <span translate>ACTIVE_COMMENTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.active_comment_count | number }}</span>
          </div>
          <!-- Pending comments -->
          <div class="list-group-item d-flex">
            <span translate>PENDING_COMMENTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.pending_comment_count | number }}</span>
          </div>
          <!-- Hidden comments -->
          <div class="list-group-item d-flex">
            <span translate>HIDDEN_COMMENTS</span>
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.hidden_comment_count | number }}</span>
          </div>
        </div>
      </div>

      <!-- Blog overview -->
      <div class="card dash mb-4">
        <div class="card-header">
          <a class="text-capitalize" routerLink="../../../settings/general" translate>BLOG_OVERVIEW</a>
        </div>
        <div class="list-group-flush pb-1">
          <!-- Subscribers -->
          <div class="list-group-item d-flex">
            <span translate>FOLLOWERS</span>
            <button class="ml-auto btn btn-sm btn-primary py-0" *ngIf="metrics" (click)="showSubscribers()">
              {{ metrics.metrics.subscriber_count | number }}
            </button>
          </div>
          <!-- Theme and layout -->
          <div class="list-group-item d-flex" *ngIf="templateConfig">
            <span translate>THEME_AND_LAYOUT</span>
            <a class="ml-auto btn btn-sm btn-primary py-0" routerLink="../../../settings/appearance"
               *ngIf="templateConfig">
              {{ templateConfig.name | uppercase }}
            </a>
          </div>
        </div>
      </div>

      <!-- Team -->
      <div class="card dash mb-4">
        <div class="card-header">
          <a class="text-capitalize" routerLink="../../../team" translate>TEAM</a>
        </div>
        <div class="list-group-flush pb-1">
          <!-- Team members -->
          <div class="list-group-item d-flex">
            <span translate>TEAM_MEMBERS</span>
            <!-- Members count -->
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.team_member_count }}</span>
          </div>
          <!-- pending Team members -->
          <div class="list-group-item d-flex">
            <span translate>PENDING_TEAM_MEMBERS</span>
            <!-- Members count -->
            <span class="ml-auto" *ngIf="metrics">{{ metrics.metrics.pending_team_member_count }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
