@import "variables";

.files {
  .file {
    width: 100%;
    height: 256px;
    background-size: cover;
    background-position: center;
    background-color: $dark;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      opacity: 0;
      transition: all 200ms;

      .caption {
        word-break: break-word;
        text-align: center;
      }

      .option {
        align-self: flex-end;
      }
    }

    &:hover {
      .content {
        opacity: 1;
      }
    }

    &.selected {
      border: 4px solid $primary;
      pointer-events: none;
    }
  }
}
