<!-- Files -->
<div class="files">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let file of files"
         [class.col-xl-2]="!selection">
      <div class="file pointer rounded-sm shadow-sm my-3"
           (click)="onChoose(file)"
           [class.selected]="file.id === selected"
           [style.background-image]="utils.sanitizeBackgroundImage(file.thumbnail_256x256)">
        <div class="content">

          <!-- File icon -->
          <fa-icon class="text-info text-center" [icon]="getFileIcon(file)" *ngIf="!file.is_image" size="5x"></fa-icon>

          <!-- Caption -->
          <div class="caption p-2 small text-truncate">{{ file.meta_data.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="pagination-wrapper" *ngIf="pagination && files.length">
  <pagination [itemsPerPage]="pagination.itemsPerPage"
              [totalItems]="pagination.totalItems"
              [disabled]="loading"
              (pageChanged)="pageChanged($event)"
              [nextText]="'NEXT' | translate"
              [previousText]="'PREV' | translate">
  </pagination>
</div>

<!-- No data -->
<div class="my-3" *ngIf="files && !files.length" translate>NOTHING_HERE_YET</div>
