@import "variables";

.files {
  .file {
    width: 100%;
    height: 256px;
    background-size: cover;
    background-position: center;
    background-color: $dark;
    overflow: hidden;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      fa-icon {
        flex: 1;
        display: flex;
        align-items: center;
      }

      .caption {
        margin-top: auto;
        text-align: center;
        width: 100%;
        background: rgba($dark, 0.5);
        color: rgba($light, 0.9);
        transition: $transition-base;
      }

      .option {
        align-self: flex-end;
      }
    }

    &:hover {
      .content {
        .caption {
          background: rgba($dark, 0.75);
        }
      }
    }

    &.selected {
      border: 4px solid $primary;
      border-bottom: none;
      pointer-events: none;

      .content {
        .caption {
          background: $primary;
        }
      }
    }
  }
}
