<!-- Loading -->
<div class="card-body" *ngIf="!files">
  <app-loading></app-loading>
</div>

<!-- Search bar -->
<app-search-bar [loading]="loading" (search)="search = $event; getFiles()"></app-search-bar>

<!-- Files -->
<div class="files">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let file of files | paginate: pagination"
         [class.col-xl-2]="!selection">
      <div class="file pointer rounded-sm shadow-sm my-3"
           (click)="onChoose(file)"
           [class.selected]="file.id === selected"
           [style.background-image]="utils.sanitizeBackgroundImage(file.thumbnail_256x256)">
        <div class="content">

          <!-- File icon -->
          <fa-icon class="text-info text-center" [icon]="getFileIcon(file)" *ngIf="!file.is_image" size="5x"></fa-icon>

          <!-- Caption -->
          <div class="caption p-2 small text-truncate">{{ file.meta_data.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<app-pagination (pageChange)="getFiles($event)"></app-pagination>

<!-- No data -->
<div class="my-3" *ngIf="files && !files.length" translate>NOTHING_HERE_YET</div>
