<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <!-- Header -->
  <div class="card-header">Advanced</div>
  <!-- Body -->
  <div class="card-body">
    <!-- Meta description -->
    <div class="form-group">
      <label for="meta_description">Meta Description</label>
      <input class="form-control" formControlName="meta_description" type="text" id="meta_description">
      <p class="font-italic">
        Meta Description is used by some search engines to improve your blog visibility in search result.
      </p>
    </div>
    <!-- Number of posts per page -->
    <div class="form-group">
      <label for="paginate_by">Number of Posts Per Page</label>
      <select class="custom-select" formControlName="paginate_by" id="paginate_by">
        <option *ngFor="let number of postPerPage">{{ number }}</option>
      </select>
    </div>
  </div>
  <!-- Footer -->
  <div class="card-footer text-right">
    <!-- Submit -->
    <button class="btn btn-primary" translate>SAVE_CHANGES</button>
  </div>
</form>
