@import "variables";

.navbar {
  padding: 0;
  font-size: $font-size-sm;

  > div {
    height: $navbar-height !important;
    padding: $navbar-padding-x $navbar-padding-y;
  }

  .navbar-brand {
    padding: 0;

    img {
      width: 32px;
      margin-top: -4px;
    }
  }

  .navbar-nav {
    align-items: center;

    .img-placeholder {
      margin-right: map_get($spacers, 2);
      width: 32px;
      height: 32px;
      background: $secondary;
    }


    .nav-item {

      > a {
        padding: 15px 10px !important;
        height: $navbar-height - 15px;
        display: flex;
        align-items: center;
        color: $white;
        font-weight: bold;
        border-radius: $border-radius;
        margin-right: 5px;

        > img {
          margin-right: map_get($spacers, 1);
        }
      }

      &:hover,
      &:focus {
        > a {
          background: rgba($white, 0.1);
        }
      }

      &.open, &.active {
        > a {
          box-shadow: $box-shadow-sm;
          color: $dark;
          background: $white;
        }
      }

      &.dropdown {
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: $border-radius;

        &.dashboard {

          > .dropdown-toggle {
            > img {
              margin-right: map_get($spacers, 2);
            }
          }

          > .dropdown-menu {
            max-height: 300px;
            overflow: auto;
          }
        }

        img {
          width: 32px;
          height: 32px;
        }

        span {
          text-transform: capitalize;
        }

        > .dropdown-menu {
          text-transform: capitalize;

          fa-icon {
            margin-right: map_get($spacers, 2);
            margin-left: - map_get($spacers, 2);
            text-align: right;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .form-inline > .form-control {
    margin: 0 map_get($spacers, 3);
    border-radius: 1000px;
    padding: $input-padding-y map_get($spacers, 3);
    border: none;
    font-weight: $font-weight-bold;
    font-size: $small-font-size * 1.1;
    background: rgba(0, 0, 0, 0.25);
    width: 150px;
    transition: $transition-base;
    color: $white;

    &::-webkit-input-placeholder {
      color: white;
    }

    &::-moz-placeholder {
      color: white;
    }

    &::-ms-input-placeholder {
      color: white;
    }

    &:focus {
      background: $white;
      box-shadow: $box-shadow-sm;
      width: 250px;
      color: $dark;

      &::-webkit-input-placeholder {
        color: $dark;
      }

      &::-moz-placeholder {
        color: $dark;
      }

      &::-ms-input-placeholder {
        color: $dark;
      }
    }
  }
}
