<!-- Loading bar -->
<ngx-loading-bar [includeSpinner]="false" color="white"></ngx-loading-bar>

<!-- Main wrapper -->
<div class="d-flex flex-column h-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-dark sticky-top" [class.bg-primary]="!inDash" [class.bg-dark]="inDash">
    <div [class.container]="!inDash" [class.container-fluid]="inDash">
      <!-- Brand -->
      <a class="navbar-brand" routerLink="/" translate>
        <img src="../assets/img/logo.png" alt="GoNevis">
      </a>
      <!-- Navs -->
      <ul class="navbar-nav" *ngIf="inDash && blogs">
        <!-- Blog dropdown -->
        <li class="nav-item dropdown" dropdown>
          <!-- Current blog -->
          <div class="nav-link dropdown-toggle" dropdownToggle>
            <span *ngIf="blogCurrent">{{ blogCurrent.title }}</span>
          </div>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" *dropdownMenu>
            <!-- Blogs -->
            <li *ngFor="let blog of blogs; let index = index">
              <a class="dropdown-item" [routerLink]="['dash', index]"
                 [class.active]="blogCurrent && blogCurrent.id === blog.id">
                {{ blog.title }}
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <!-- New blog -->
            <li><a class="dropdown-item" routerLink="start" routerLinkActive="active" translate>START_NEW_BLOG</a></li>
          </ul>
        </li>
      </ul>
      <!-- Navs when authenticated -->
      <ul class="navbar-nav ml-auto" *ngIf="auth.isAuth && user">
        <!-- Feed -->
        <li class="nav-item" *ngIf="inDash">
          <a class="nav-link" routerLinkActive="active" routerLink="feed" translate>FEED</a>
        </li>
        <!-- Dashboard -->
        <li class="nav-item" *ngIf="!inDash">
          <a class="nav-link" routerLinkActive="active" routerLink="dash" translate>DASHBOARD</a>
        </li>
        <!-- Feedback -->
        <li class="nav-item" (click)="feedback()">
          <a class="nav-link" translate>FEEDBACK</a>
        </li>
        <!-- User dropdown -->
        <li class="nav-item dropdown" dropdown>
          <!-- Dropdown label -->
          <div class="nav-link dropdown-toggle" dropdownToggle>
            <!-- User picture -->
            <img [src]="user.media.thumbnail_48x48" *ngIf="user.media.picture">
            <!-- User name -->
            <span>{{ user.username }}</span>
          </div>
          <!-- User dropdown -->
          <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
            <!-- Profile -->
            <li>
              <a [routerLink]="['/feed/user', user.username]" routerLinkActive="active" class="dropdown-item" translate>
                PROFILE
              </a>
            </li>
            <!-- Settings -->
            <li><a routerLink="/user/setting" routerLinkActive="active" class="dropdown-item" translate>SETTING</a></li>
            <!-- Separator -->
            <li class="dropdown-divider"></li>
            <!-- Sign out -->
            <li>
              <button class="dropdown-item" (click)="auth.signOut()" translate>SIGN_OUT</button>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Navs when not authenticated (left) -->
      <ul class="navbar-nav" *ngIf="!auth.isAuth">
        <!-- Start -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/start" translate>GET_STARTED</a>
        </li>
      </ul>
      <!-- Navs when not authenticated (right) -->
      <ul class="navbar-nav ml-auto" *ngIf="!auth.isAuth">
        <!-- Sign in -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/user/sign-in" translate>SIGN_IN</a>
        </li>
        <!-- Sign up -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/user/sign-up" translate>JOIN_GONEVIS</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Pages -->
  <div class="overflow-auto flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
