<div class="container">
  <div class="row">

    <!-- Left -->
    <div class="col-lg-3">

      <!-- Main navs -->
      <div class="nav flex-column nav-pills my-3">
        <a class="nav-link"
           routerLink="/feed"
           *ngFor="let nav of mainNavs"
           (click)="selectNab(nav)"
           [ngClass]="{'active shadow-sm': nav === navSelected}">
          <fa-icon [fixedWidth]="true" [icon]="nav.icon"></fa-icon>
          <span class="ml-2" translate>{{ nav.label }}</span>
        </a>
      </div>

      <!-- Tag navs title -->
      <div class="font-weight-bold small text-secondary pl-3 mt-5">Popular Tags</div>

      <!-- Tag navs -->
      <div class="nav flex-column nav-pills my-3 small">
        <a class="nav-link"
           routerLink="/feed"
           *ngFor="let nav of tagNavs"
           (click)="selectNab(nav)"
           [ngClass]="{'active shadow-sm': nav === navSelected}">
          <fa-icon [fixedWidth]="true" icon="hashtag"></fa-icon>
          <!-- @todo Use with translation -->
          <span class="ml-2">{{ nav }}</span>
        </a>
      </div>
    </div>

    <!-- Middle -->
    <div class="col-lg-6">

      <!-- Post -->
      <div class="card shadow-sm my-3" *ngFor="let i of [0, 1, 2, 3]">

        <!-- Header -->
        <div class="card-header d-flex">

          <!-- Logo -->
          <img src="https://picsum.photos/48{{ i }}" class="rounded-circle" alt="Logo">

          <!-- Title and time since -->
          <div class="d-flex flex-column ml-3">
            <b>Awesomeness</b>
            <small>12 minutes ago</small>
          </div>

          <!-- Featured -->
          <div class="d-flex flex-column ml-auto justify-content-center text-warning"
               [tooltip]="'FEATURED' | translate" placement="left" delay="250">
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
          </div>
        </div>

        <!-- Cover image -->
        <div class="card-body cover" [style.background-image]="getBackgroundImage(i)"></div>

        <!-- Body -->
        <div class="card-body">

          <!-- Title -->
          <h5 class="card-title"><a href="#">Rather Stay Quiet</a></h5>

          <!-- Excerpt -->
          <p class="card-text">
            If I post what I want, it's a mistake.If I don't, then it's killing me from inside.
            So what now? Blue haired girl wants to be in a relationship with me.
            I drink too much coffee.My back still hurts.I want to shout.
            Life goes on.Rather stay quiet.There is no point in staying in Taiwan...
          </p>
        </div>

        <!-- Footer -->
        <div class="card-footer">

          <!-- Like -->
          <button class="btn btn-link">
            <fa-icon [fixedWidth]="true" [icon]="['far', 'heart']"></fa-icon>
            <span>15</span>
          </button>

          <!-- Comments -->
          <button class="btn btn-link">
            <fa-icon [fixedWidth]="true" [icon]="['far', 'comment']"></fa-icon>
            <span>6</span>
          </button>

          <!-- Bookmark -->
          <button class="btn btn-link float-right">
            <fa-icon [fixedWidth]="true" [icon]="['far', 'bookmark']"></fa-icon>
          </button>

          <!-- Share -->
          <button class="btn btn-link float-right">
            <fa-icon [fixedWidth]="true" [icon]="['far', 'share-square']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
