@import "variables";

.drop-zone {
  color: $unimportant;
  border: 4px dashed $unimportant;
  border-radius: $border-radius;
  background: $light;
  text-align: center;
  position: relative;

  &, .hide-on-drag, fa-icon {
    transition: $transition-base;
  }

  &.drag-started {
    pointer-events: none;
    border-color: $primary;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
    }

    fa-icon {
      color: $primary;
    }

    .hide-on-drag {
      opacity: 0.25;
    }
  }
}
