<!-- Upload -->
<input type="file" [accept]="accept" class="d-none" #fileElement (change)="onFileSelected()" multiple>
<!-- Button -->
<button type="button" class="btn btn-primary" (click)="fileElement.click()" translate *ngIf="!dropZone">UPLOAD</button>
<!-- Drop zone -->
<div class="drop-zone" appDragDrop (afterDrop)="onFileSelected($event)" *ngIf="dropZone">
  <!-- Before drag starts -->
  <div class="before-drag">
    {{ 'DRAG_AND_DROP_OR_UPLOAD' | translate }}
    <button type="button" class="btn btn-primary" (click)="fileElement.click()" translate>UPLOAD</button>
  </div>
  <!-- When dragging -->
  <div class="after-drag">
    <fa-icon [icon]="faFileUpload" size="4x" class="mb-3"></fa-icon>
    {{ 'DROP_HERE_TO_UPLOAD' | translate }}
  </div>
</div>

<div class="mt-2" *ngFor="let file of files">
  <!-- File name -->
  {{ file.name }}
  <div *ngIf="inProgressFiles[file.name]">
    <!-- Progress bar -->
    <progressbar max="100"
                 [value]="inProgressFiles[file.name].progress === 0 ? 100 : inProgressFiles[file.name].progress"
                 [striped]="inProgressFiles[file.name].progress === 0"
                 [type]="inProgressFiles[file.name].data ? 'success' : 'primary'"
                 [animate]="true">
      <!-- Not done -->
      <div *ngIf="!inProgressFiles[file.name].data">
        <!-- Preparing -->
        <span *ngIf="inProgressFiles[file.name].progress === 0">Preparing file</span>
        <!-- In progress -->
        <span *ngIf="inProgressFiles[file.name].progress !== 0 && inProgressFiles[file.name].progress < 100">
          {{ inProgressFiles[file.name].progress }}%
        </span>
        <span *ngIf="inProgressFiles[file.name].progress == 100">Almost done</span>
      </div>
      <!-- Done -->
      <span *ngIf="inProgressFiles[file.name].data">Done</span>
<!--      <i>{{ inProgressFiles[file.name].progress }}</i>-->
    </progressbar>
  </div>
</div>
