<!-- Upload -->
<input type="file" [accept]="accept" class="d-none" #fileElement (change)="onFileSelected()" multiple>

<!-- Button -->
<button type="button" class="btn btn-primary" (click)="fileElement.click()" translate *ngIf="!dropZone">UPLOAD</button>

<!-- Drop zone -->
<div class="drop-zone p-5" appDragDrop (afterDrop)="onFileSelected($event)" *ngIf="dropZone">
  <fa-icon [icon]="faUpload" size="5x"></fa-icon>
  <div class="font-weight-bold mt-4">Drag &amp; Drop Here to Upload <br> <span class="hide-on-drag">Or</span></div>
  <button class="btn btn-primary btn-sm mt-1 hide-on-drag" (click)="fileElement.click()">Browse Files</button>
</div>

<div class="mt-2" *ngFor="let file of selectedFiles | keyvalue:originalOrder">
  <!-- File name -->
  {{ file.key }} - {{ file.value.extension }} - {{ file.value.readableSize }}
  <!-- Progress bar -->
  <progressbar max="100"
               [value]="file.value.preparing ? 0 : file.value.progress"
               [striped]="file.value.preparing"
               [type]="file.value.color"
               [animate]="true">
    <!-- Not done -->
    <div *ngIf="!file.value.done && !file.value.error">
      <!-- Preparing -->
      <span *ngIf="file.value.preparing">Preparing file</span>
      <!-- In progress -->
      <span *ngIf="!file.value.preparing && file.value.progress !== 100">
        {{ file.value.progress }}%
      </span>
      <span *ngIf="file.value.progress === 100">Almost done</span>
    </div>
    <!-- Done -->
    <span *ngIf="file.value.data">Done</span>
    <span *ngIf="file.value.error">Error</span>
  </progressbar>
  <small class="text-danger d-block" *ngFor="let error of file.value.error | keyvalue">
    {{ error.value }}
  </small>
</div>
