@import "variables";

.drop-zone {
  color: $unimportant;
  border: 4px dashed $unimportant;
  border-radius: $border-radius;
  background: $light;
  text-align: center;
  position: relative;

  &:not(.has-files):not(.is-global) {
    &:not(.drag-started) {
      opacity: 0;
      visibility: hidden;
      height: 0;
      padding: 0 !important;
    }
  }

  &.drag-started {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
    }

    &.drag-entered {
      animation: none;
      background: rgba($primary, 0.3);
      border-color: $primary;
      color: $primary;

      .hide-on-drag {
        opacity: 0.25;
      }

      fa-icon {
        color: $primary;
      }
    }
  }
}

.uploading-files {
  overflow-y: auto;
  max-height: 275px;

  progressbar {
    height: 6px;
  }
}

.card.error {
  background: $danger;
  color: $light;

  .text-muted, .text-secondary {
    color: $light !important;
    opacity: 0.5;
  }
}
