<!-- Header -->
<div class="modal-header">
  <div class="d-flex align-items-center">
    <h5 class="mb-0 mr-2">Edit tag</h5>
  </div>
  <!-- Close -->
  <button class="ml-auto btn btn-link p-0" (click)="modal.hide()">
    <fa-icon [fixedWidth]="true" icon="times"></fa-icon>
  </button>
</div>

<!-- Body -->
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="update()">
    <!-- Name -->
    <div class="form-group">
      <label for="name" translate>NAME</label>
      <input class="form-control" id="name" type="text" formControlName="name" required>
      <span class="text-danger" *ngIf="errors.name">{{ errors.name[0] }}</span>
    </div>
    <!-- Tag name -->
    <div class="form-group">
      <label for="slug" translate>TAG</label>
      <input class="form-control" id="slug" type="text" formControlName="slug">
      <span class="text-danger" *ngIf="errors.slug">{{ errors.slug[0] }}</span>
    </div>
    <!-- Description -->
    <div class="form-group">
      <label for="description" translate>DESCRIPTION</label>
      <textarea rows="2" class="form-control" id="description" formControlName="description"></textarea>
      <span class="text-danger" *ngIf="errors.description">{{ errors.description[0] }}</span>
    </div>
    <!-- Submit -->
    <button class="btn btn-info btn-block" translate>SUBMIT</button>
  </form>
</div>
