<app-page-cover class="d-none d-md-block"></app-page-cover>

<div class="container">
  <div class="row">

    <!-- Left -->
    <div class="col-lg-3">

      <!-- Sidebar navs -->
      <div class="nav flex-column nav-pills my-3">
        <a class="nav-link"
           *ngFor="let nav of sidebarNavs"
           [routerLink]="[nav.route]"
           [routerLinkActive]="'active shadow-sm'">
          <fa-icon [fixedWidth]="true" [icon]="nav.icon"></fa-icon>
          <span class="ml-2" translate>{{ nav.label }}</span>
        </a>
      </div>
    </div>

    <!-- Middle -->
    <div class="col-lg-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
