<p>dash works!</p>

<p>
  <a routerLinkActive="text-primary" routerLink="main">main </a>
  <a routerLinkActive="text-primary" routerLink="write">write </a>
  <a routerLinkActive="text-primary" routerLink="posts">posts </a>
  <a routerLinkActive="text-primary" routerLink="pages">pages </a>
  <a routerLinkActive="text-primary" routerLink="comments">comments </a>
  <a routerLinkActive="text-primary" routerLink="tags">tags </a>
  <a routerLinkActive="text-primary" routerLink="media">media </a>
  <a routerLinkActive="text-primary" routerLink="navs">navs </a>
  <a routerLinkActive="text-primary" routerLink="team">team </a>
  <a routerLinkActive="text-primary" routerLink="settings">settings </a>
</p>

<router-outlet></router-outlet>
