<!-- Main wrapper -->
<div class="d-flex flex-column h-100">
  <div class="wrapper">
    <div class="sidebar" [class.is-closed]="!openSidebar" [class.d-none]="isWritePage">
      <ul class="overflow-auto">
        <li *ngFor="let link of links">
          <a [routerLink]="[link.path]" routerLinkActive="active">
            <fa-icon [icon]="link.icon" [fixedWidth]="true"></fa-icon>
            {{ link.label | translate }}
          </a>
        </li>
      </ul>
      <!-- Toggler -->
      <a class="mt-auto toggler" (click)="toggleSidebar()">
        <!-- Icon -->
        <fa-icon [icon]="faAngleDoubleLeft" [flip]="!openSidebar ? 'horizontal' : null" [fixedWidth]="true"></fa-icon>
      </a>
    </div>
    <div class="content">
      <div class="h-100 overflow-auto">
        <router-outlet (activate)="onRouterOutletChange($event)"></router-outlet>
      </div>
    </div>
  </div>
</div>
