<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li>
        <a [routerLink]="['main']" [routerLinkActive]="'active'">
          <fa-icon icon="home" [fixedWidth]="true"></fa-icon>
          Main
        </a>
      </li>
      <li>
        <a [routerLink]="['write']" [routerLinkActive]="'active'">
          <fa-icon icon="keyboard" [fixedWidth]="true"></fa-icon>
          Write
        </a>
      </li>
      <li>
        <a [routerLink]="['posts']" [routerLinkActive]="'active'">
          <fa-icon icon="scroll" [fixedWidth]="true"></fa-icon>
          Posts
        </a>
      </li>
      <li>
        <a [routerLink]="['pages']" [routerLinkActive]="'active'">
          <fa-icon [icon]="['far', 'newspaper']" [fixedWidth]="true"></fa-icon>
          Pages
        </a>
      </li>
      <li>
        <a [routerLink]="['comments']" [routerLinkActive]="'active'">
          <fa-icon icon="comments" [fixedWidth]="true"></fa-icon>
          Comments
        </a>
      </li>
      <li>
        <a [routerLink]="['tags']" [routerLinkActive]="'active'">
          <fa-icon icon="tags" [fixedWidth]="true"></fa-icon>
          Tags
        </a>
      </li>
      <li>
        <a [routerLink]="['media']" [routerLinkActive]="'active'">
          <fa-icon icon="photo-video" [fixedWidth]="true"></fa-icon>
          Media
        </a>
      </li>
      <li>
        <a [routerLink]="['navs']" [routerLinkActive]="'active'">
          <fa-icon icon="route" [fixedWidth]="true"></fa-icon>
          Navs
        </a>
      </li>
      <li>
        <a [routerLink]="['team']" [routerLinkActive]="'active'">
          <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
          Team
        </a>
      </li>
      <li>
        <a [routerLink]="['settings']" [routerLinkActive]="'active'">
          <fa-icon icon="cog" [fixedWidth]="true"></fa-icon>
          Settings
        </a>
      </li>
    </ul>
    <ul class="mt-auto">
      <li>
        <a [routerLink]="['help']" [routerLinkActive]="'active'">
          <fa-icon icon="question" [fixedWidth]="true"></fa-icon>
          Help
        </a>
      </li>
    </ul>
  </div>
  <div class="content pt-3">
    <router-outlet></router-outlet>
  </div>
</div>

