<div class="card dash mb-3">
  <!-- Header -->
  <div class="card-header">Frequently Asked Questions</div>
  <!-- Body -->
  <div class="card-body">
    <!-- Question 1 -->
      <p class="font-weight-bold">What payment methods do you accept? Paypal? What about invoices?</p>
      <p>
        We accept all major credit and debit cards such as Visa, Mastercard or MIR. For
        annual pre-paid accounts on Business or Enterprise plans we also accept bank
        transfers, where desired. We do not, under any circumstances, accept Paypal.
      </p>
    <!-- Question 2 -->
    <p class="font-weight-bold">How do you process my payments?</p>
    <p>
      We don't, another company called <a href="https://cloudpayments.ru/en/">CloudPayments</a>
      with Security PCI DSS Level 1
      certification will process all the payments. In this case, no credit/debit card
      information will be processed by us and all being taken care of a secure and stable
      payment processing gateway.
    </p>
    <!-- Question 3 -->
    <p class="font-weight-bold">How do I cancel my subscription? Delete my account? Can I have a refund?</p>
    <p>
      To cancel your account, log into <a href="#">account</a>
      and change your plan from active to
      "Cancel" — that's all there is to it! To delete your account or if you need any other
      help just email us on <a href="mailto:hello@gonevis.com">hello@gonevis.com</a>.
    </p>
    <p>
      We also offer refunds! You may ask for a refund after maximum 7 days of plan
      upgrade (we don’t offer refunds on renewals).
    </p>
    <!-- Question 4 -->
    <p class="font-weight-bold">Can I upgrade from Free to Paid plan later?</p>
    <p class="mb-0">Of course you can, you may upgrade or downgrade anytime.</p>
  </div>
</div>
