<!-- Plans -->
<div class="row text-center" *ngIf="plans.length">
  <div class="col-md-6">
    <div id="lite">
      <!-- Title -->
      <span>Lite</span>
      <p>Basic plan</p>
      <h2>FREE</h2>
      <!-- Detail -->
      <div>
        <p>GoNevis.com subdomain.</p>
        <p>No Ads</p>
        <p title="Create or manage as many blog as you like">Unlimited Blogs</p>
        <p>Free Themes</p>
        <p>Media Storage</p>
        <p>SEO Optimization</p>
        <p>Basic UI Customization</p>
        <p><b>1</b> Team Members</p>
        <p title="Images">Basic Media Library</p>
        <p>Your own logo</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <!-- Personal -->
  <div class="col-md-6">
    <div id="personal">
      <!-- Title -->
      <div>
        <fa-icon icon="star" [fixedWidth]="true"></fa-icon>
        Best Choice
      </div>
      <span>{{ plans[0].name }}</span>
      <p>{{ plans[0].description }}</p>
      <h2>
        <fa-icon icon="dollar-sign" [fixedWidth]="true"></fa-icon>
        {{ plans[0].price }}
      </h2>
      <span>MONTHLY</span>
      <!-- Detail -->
      <div>
        <p>Custom Domain</p>
        <p>No Ads</p>
        <p>Unlimited Blogs</p>
        <p>Free Themes</p>
        <p><b>5</b> GB Storage</p>
        <p>SEO Optimization</p>
        <p>Basic UI Customization</p>
        <p><b>5</b> Team Members</p>
        <p>All Media Library</p>
        <p>Your own logo</p>
        <p>No GoNevis.com branding</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      <!-- Pay -->
      <button class="btn btn-success" (click)="pay(plans[0])"
              [disabled]="currentPlan && currentPlan.id === plans[0].id || !isOwner">
        {{ (currentPlan && currentPlan.id === plans[0].id ? 'YOUR_PLAN' : 'UPGRADE') | translate }}
      </button>
    </div>
  </div>
  <!-- Ultra -->
  <div class="col-md-6">
    <div id="ultra">
      <!-- Title -->
      <span>{{ plans[1].name }}</span>
      <p>{{ plans[1].description }}</p>
      <h2>
        <fa-icon icon="dollar-sign" [fixedWidth]="true"></fa-icon>
        {{ plans[1].price }}</h2>
      <span>MONTHLY</span>
      <!-- Detail -->
      <div>
        <p>Custom Domain</p>
        <p>No Ads</p>
        <p>Unlimited Blogs</p>
        <p>Premium Themes</p>
        <p><b>10</b> GB Storage</p>
        <p>SEO Optimization</p>
        <p>Advanced UI Customization</p>
        <p><b>25</b> Team Members</p>
        <p>All Media Library</p>
        <p>Your own logo</p>
        <p>No GoNevis.com branding</p>
        <p>Google AdSense (Monetization)</p>
        <p>Your own Google Analytics</p>
        <p>Custom Footer</p>
      </div>
      <!-- Pay -->
      <button class="btn btn-success" (click)="pay(plans[1])"
              [disabled]="currentPlan && currentPlan.id === plans[1].id || !isOwner">
        {{ (currentPlan && currentPlan.id === plans[1].id ? 'YOUR_PLAN' : 'UPGRADE') | translate }}
      </button>
    </div>
  </div>
</div>

<div class="card dash mb-3">
  <!-- Header -->
  <div class="card-header">Frequently Asked Questions</div>
  <!-- Body -->
  <div class="card-body">
    <!-- Question 1 -->
    <p class="font-weight-bold">What payment methods do you accept? Paypal? What about invoices?</p>
    <p>
      We accept all major credit and debit cards such as Visa, Mastercard or MIR. For
      annual pre-paid accounts on Business or Enterprise plans we also accept bank
      transfers, where desired. We do not, under any circumstances, accept Paypal.
    </p>
    <!-- Question 2 -->
    <p class="font-weight-bold">How do you process my payments?</p>
    <p>
      We don't, another company called <a href="https://cloudpayments.ru/en/">CloudPayments</a>
      with Security PCI DSS Level 1
      certification will process all the payments. In this case, no credit/debit card
      information will be processed by us and all being taken care of a secure and stable
      payment processing gateway.
    </p>
    <!-- Question 3 -->
    <p class="font-weight-bold">How do I cancel my subscription? Delete my account? Can I have a refund?</p>
    <p>
      To cancel your account, log into <a href="#">account</a>
      and change your plan from active to
      "Cancel" — that's all there is to it! To delete your account or if you need any other
      help just email us on <a href="mailto:hello@gonevis.com">hello@gonevis.com</a>.
    </p>
    <p>
      We also offer refunds! You may ask for a refund after maximum 7 days of plan
      upgrade (we don’t offer refunds on renewals).
    </p>
    <!-- Question 4 -->
    <p class="font-weight-bold">Can I upgrade from Free to Paid plan later?</p>
    <p class="mb-0">Of course you can, you may upgrade or downgrade anytime.</p>
  </div>
</div>
