<div class="container">
  <table class="table rounded bg-white">
    <tbody>
    <tr *ngFor="let tag of tags">
      <!-- Image -->
      <th class="pr-0 text-center" [class.p-0]="!tag.media.cover_image">
        <img class="rounded" *ngIf="tag.media.cover_image" [src]="tag.media.cover_image.thumbnail_48x48">
      </th>
      <!-- Name, slug, usage and description -->
      <th>
        <!-- Name -->
        <b>{{ tag.name }}</b>
        <!-- Slug -->
        <small class="text-secondary ml-2">#{{ tag.slug }}</small>
        <!-- Usage -->
        <span class="badge badge-secondary ml-2">{{ tag.tagged_items_count }}</span>
        <!-- Description -->
        <div class="small text-secondary">{{ tag.description }}</div>
      </th>
      <!-- Buttons -->
      <th class="text-right">
        <div class="btn-group btn-group-sm">
          <!-- Edit -->
          <button class="btn btn-light text-secondary" title="Edit">
            <fa-icon [fixedWidth]="true" icon="edit"></fa-icon>
          </button>
          <!-- View -->
          <a class="btn btn-light text-secondary" title="View on blog" [href]="tag.absolute_uri" target="_blank">
            <fa-icon [fixedWidth]="true" icon="eye"></fa-icon>
          </a>
          <!-- Delete -->
          <button class="btn btn-light text-secondary" title="Delete">
            <fa-icon [fixedWidth]="true" icon="trash"></fa-icon>
          </button>
        </div>
      </th>
    </tr>
    </tbody>
  </table>
</div>
