<div class="container mt-3">
  <div class="row">

    <!-- Tags -->
    <div class="col-lg-9">
      <div class="card dash">

        <!-- Header -->
        <div class="card-header" translate>TAGS</div>

        <!-- Content -->
        <table class="table rounded bg-white m-0">
          <tbody>
          <tr *ngFor="let tag of tags">
            <!-- Image -->
            <th class="image" [class.p-0]="!tag.media.cover_image">
              <img class="rounded" *ngIf="tag.media.cover_image" [src]="tag.media.cover_image.thumbnail_48x48">
            </th>
            <!-- Name, slug, usage and description -->
            <th>
              <!-- Name -->
              <b>{{ tag.name }}</b>
              <!-- Slug -->
              <small class="text-secondary ml-2">#{{ tag.slug }}</small>
              <!-- Usage -->
              <span class="badge badge-secondary ml-2">{{ tag.tagged_items_count }}</span>
              <!-- Description -->
              <div class="small text-secondary">{{ tag.description }}</div>
            </th>
            <!-- Buttons -->
            <th class="text-right">
              <div class="btn-group btn-group-sm">
                <!-- Add to navigation -->
                <button class="btn btn-light text-secondary" [title]="'ADD_TO_NAVIGATION' | translate"
                        (click)="addToNavigation(tag.name, tag.slug)">
                  <fa-icon [fixedWidth]="true" icon="bars"></fa-icon>
                </button>
                <!-- Edit -->
                <button class="btn btn-light text-secondary" [title]="'EDIT' | translate" (click)="showTagModal(tag)">
                  <fa-icon [fixedWidth]="true" icon="edit"></fa-icon>
                </button>
                <!-- View -->
                <a class="btn btn-light text-secondary" [title]="'VIEW_ON_BLOG' | translate"
                   [href]="tag.absolute_uri" target="_blank">
                  <fa-icon [fixedWidth]="true" icon="eye"></fa-icon>
                </a>
                <!-- Delete -->
                <button class="btn btn-light text-secondary" [title]="'DELETE' | translate"
                        (click)="delete(tag)" [disabled]="tag.loading">
                  <fa-icon [fixedWidth]="true" icon="trash"></fa-icon>
                </button>
              </div>
            </th>
          </tr>
          </tbody>
        </table>

        <!-- No data -->
        <div class="card-body" *ngIf="tags && !tags.length">
          <div class="card-text" translate>NOTHING_HERE_YET</div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="pagination-wrapper mt-3" *ngIf="pagination && tags.length">
        <pagination [itemsPerPage]="pagination.itemsPerPage"
                    [totalItems]="pagination.totalItems"
                    [disabled]="loading"
                    (pageChanged)="pageChanged($event)"
                    [nextText]="'NEXT' | translate"
                    [previousText]="'PREV' | translate">
        </pagination>
      </div>
    </div>

    <!-- Create tag -->
    <div class="col-lg-3">
      <div class="card dash">

        <!-- Header -->
        <div class="card-header" translate>CREATE_TAG</div>

        <!-- Form -->
        <form class="card-body" [formGroup]="form" (ngSubmit)="create()">

          <!-- Name -->
          <div class="form-group">
            <label for="name" translate>NAME</label>
              <input class="form-control" id="name" type="text" formControlName="name" required>
            <span class="text-danger" *ngIf="errors.name">{{ errors.name[0] }}</span>
          </div>

          <!-- Tag name -->
          <div class="form-group">
            <label for="slug" translate>TAG</label>
            <input class="form-control" id="slug" type="text" formControlName="slug">
            <span class="text-danger" *ngIf="errors.slug">{{ errors.slug[0] }}</span>
          </div>

          <!-- Description -->
          <div class="form-group">
            <label for="description" translate>DESCRIPTION</label>
            <textarea rows="2" class="form-control" id="description" formControlName="description"></textarea>
            <span class="text-danger" *ngIf="errors.description">{{ errors.description[0] }}</span>
          </div>

          <!-- Submit -->
          <button class="btn btn-info btn-block" translate>SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div>
