<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-lg-3 col-xl-3" *ngFor="let post of posts">
          <div class="card my-3 shadow-sm post">
            <!-- Post image -->
            <img class="card-img-top"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQYTJwz3vNzCUITCBgEOkcKGW_GUYp4m45R_xdapaK8pSBHWLZ"
                 alt="Post image">
            <div class="card-body">
              <!-- Date -->
              <span class="text-secondary text-uppercase font-weight-bold date" translate>
                PUBLISHED &bull; {{ post.created | date }}</span>
              <!-- Title -->
              <h5 class="card-title">{{ post.title }}</h5>
              <!-- Content-->
              <p class="card-text">{{ post.content }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
