$primary: #2980b9;
$success: #2ecc71;
$danger: #e74c3c;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$body-bg: #edeef0;
$input-group-addon-bg: none;
$input-group-addon-color: $dark;

@import "~bootstrap/scss/bootstrap";

.card {

  .card-header {

    .nav-link.active {
      cursor: default;
      background: white;
      border-bottom-color: white;
    }
  }
}
