@import "variables";

$input-group-addon-bg: none;
$input-group-addon-color: $dark;
$list-group-border-color: $light;

$card-border-width: 0;

$link-color: $secondary;
$link-hover-color: $dark;
$link-hover-decoration: none;

$table-border-color: $light;

$tooltip-arrow-color: $dark;
$tooltip-bg: $dark;

@import "~bootstrap/scss/bootstrap";

a,
.pointer {
  cursor: pointer;
}

.white-space-pre-line {
  white-space: pre-line;
}

.card {

  &.feed {
    $text-font-size: 13px;
    $text-color: $secondary;

    .card-header {
      background: darken($card-bg, 1%);
      color: $dark;

      img {
        width: 48px;
        height: 48px;
        background: $secondary;

        &.overlay {
          width: 128px;
          height: 128px;
          margin-bottom: -86px;
          z-index: 1;
        }
      }

      span {
        color: $text-color;
        font-size: $text-font-size;
      }

      .nav-link.active {
        cursor: default;
        background: white;
        border-bottom-color: white;
      }
    }

    .cover {
      background-color: $secondary;
      background-size: cover;
      background-position: center;
      height: 256px;
    }

    .card-body {

      .card-text,
      .card-title {
        a {
          color: $text-color;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $dark;
          }
        }

      }

      p {
        font-size: $text-font-size;
        color: $text-color;
      }
    }

    .card-footer {

      .btn-link {
        color: $text-color;
        text-decoration: none;
        padding: 0;

        &:hover {
          color: $dark;
        }

        &:active {
          color: $text-muted;
        }

        &:not(.float-right) {
          margin-right: 20px;
        }

        &.float-right {
          margin-left: 20px;
        }

        span {
          padding-left: 5px;
        }
      }
    }
  }

  &.dash {
    border: none !important;
    cursor: default;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);

    .card-header {
      background-color: white;
      padding-top: 18px;
      padding-bottom: 18px;
      border-bottom: 2px solid $body-bg;

      &,
      > a {
        color: #6F7A8B;
        font-weight: bold;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }

      .card-label {
        padding: 8px 12px;
        margin-bottom: -16px;
        margin-top: -8px;
        background: $body-bg;
        font-weight: bold;
        color: #6F7A8B !important;
        float: right;
        border-radius: $border-radius;
      }
    }

    .card-footer {
      border-top: 2px solid $body-bg;
    }
  }
}

.table {
  tbody {
    tr {
      th {
        font-weight: normal;
        vertical-align: middle;
      }
    }
  }
}
