@import "variables";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

$input-group-addon-bg: none;
$input-group-addon-color: $dark;
$list-group-border-color: $light;

$card-border-width: 0;

$link-color: $secondary;
$link-hover-color: $dark;
$link-hover-decoration: none;

$table-border-color: $light;

$tooltip-arrow-color: $dark;
$tooltip-bg: $dark;

$modal-footer-border-width: 0;
$modal-content-border-width: 0;
$modal-header-border-width: 0;

$dropdown-link-active-bg: $dark;
$dropdown-border-radius: $border-radius-sm;
$dropdown-item-padding-y: map_get($spacers, 2);

@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";

html, body {
  height: 100%;
  overflow: hidden;
}

a,
.pointer,
.custom-control-label {
  cursor: pointer;
}

.h-100 {
  min-height: 0;
}

.white-space-pre-line {
  white-space: pre-line;
  word-break: break-word;
}

.dropdown-item {
  outline: none !important;

  &.dropdown-item-img {
    display: flex;
    align-items: center;
    padding: map_get($spacers, 2) 10px;

    > img {
      margin-right: map_get($spacers, 2) !important;
    }
  }
}

.card {

  &.feed {

    > .card-header {
      background: darken($card-bg, 1%);
      color: $dark;

      img {
        width: 48px;
        height: 48px;
        background: $secondary;

        &.overlay {
          width: 128px;
          height: 128px;
          margin-bottom: -86px;
          z-index: 1;
        }
      }

      .nav-link.active {
        cursor: default;
        background: white;
        border-bottom-color: white;
      }
    }

    .cover {
      background-color: $secondary;
      background-size: cover;
      background-position: center;
      height: 256px;
    }

    > .card-body {

      .card-text,
      .card-title {
        a {
          text-decoration: none;

          &:hover,
          &:focus {
            color: $dark;
          }
        }

      }

      img {
        max-width: 100%;
      }

      iframe,
      .embed-responsive {
        margin-bottom: $paragraph-margin-bottom;
      }

      blockquote {
        border-left: 4px solid #ddd;
        margin-bottom: $paragraph-margin-bottom;
        padding: 10px;
      }

      .ql-align-center {
        text-align: center;
      }

      .ql-align-right {
        text-align: right;
      }

      .ql-align-justify {
        text-align: justify;
      }

      .ql-direction-rtl {
        direction: rtl;
      }

      ol > li, ul > li {
        list-style-type: none;
      }

      li::before {
        display: inline-block;
        white-space: nowrap;
        width: 1.2em;
      }

      ul > li::before {
        content: '\2022';
      }

      li::before {
        display: inline-block;
        white-space: nowrap;
        width: 1.2em;
      }

      li:not(.ql-direction-rtl)::before {
        margin-left: -1.5em;
        margin-right: 0.3em;
        text-align: right;
      }

      li.ql-direction-rtl::before {
        margin-left: 0.3em;
        margin-right: -1.5em;
      }

      .ql-indent-1:not(.ql-direction-rtl) {
        padding-left: 3em;
      }

      li.ql-indent-1:not(.ql-direction-rtl) {
        padding-left: 4.5em;
      }

      .ql-indent-1.ql-direction-rtl.ql-align-right {
        padding-right: 3em;
      }

      li.ql-indent-1.ql-direction-rtl.ql-align-right {
        padding-right: 4.5em;
      }

      .ql-indent-2:not(.ql-direction-rtl) {
        padding-left: 6em;
      }

      li.ql-indent-2:not(.ql-direction-rtl) {
        padding-left: 7.5em;
      }

      .ql-indent-2.ql-direction-rtl.ql-align-right {
        padding-right: 6em;
      }

      li.ql-indent-2.ql-direction-rtl.ql-align-right {
        padding-right: 7.5em;
      }

      .ql-indent-3:not(.ql-direction-rtl) {
        padding-left: 9em;
      }

      li.ql-indent-3:not(.ql-direction-rtl) {
        padding-left: 10.5em;
      }

      .ql-indent-3.ql-direction-rtl.ql-align-right {
        padding-right: 9em;
      }

      li.ql-indent-3.ql-direction-rtl.ql-align-right {
        padding-right: 10.5em;
      }

      .ql-indent-4:not(.ql-direction-rtl) {
        padding-left: 12em;
      }

      li.ql-indent-4:not(.ql-direction-rtl) {
        padding-left: 13.5em;
      }

      .ql-indent-4.ql-direction-rtl.ql-align-right {
        padding-right: 12em;
      }

      li.ql-indent-4.ql-direction-rtl.ql-align-right {
        padding-right: 13.5em;
      }

      .ql-indent-5:not(.ql-direction-rtl) {
        padding-left: 15em;
      }

      li.ql-indent-5:not(.ql-direction-rtl) {
        padding-left: 16.5em;
      }

      .ql-indent-5.ql-direction-rtl.ql-align-right {
        padding-right: 15em;
      }

      li.ql-indent-5.ql-direction-rtl.ql-align-right {
        padding-right: 16.5em;
      }

      .ql-indent-6:not(.ql-direction-rtl) {
        padding-left: 18em;
      }

      li.ql-indent-6:not(.ql-direction-rtl) {
        padding-left: 19.5em;
      }

      .ql-indent-6.ql-direction-rtl.ql-align-right {
        padding-right: 18em;
      }

      li.ql-indent-6.ql-direction-rtl.ql-align-right {
        padding-right: 19.5em;
      }

      .ql-indent-7:not(.ql-direction-rtl) {
        padding-left: 21em;
      }

      li.ql-indent-7:not(.ql-direction-rtl) {
        padding-left: 22.5em;
      }

      .ql-indent-7.ql-direction-rtl.ql-align-right {
        padding-right: 21em;
      }

      li.ql-indent-7.ql-direction-rtl.ql-align-right {
        padding-right: 22.5em;
      }

      .ql-indent-8:not(.ql-direction-rtl) {
        padding-left: 24em;
      }

      li.ql-indent-8:not(.ql-direction-rtl) {
        padding-left: 25.5em;
      }

      .ql-indent-8.ql-direction-rtl.ql-align-right {
        padding-right: 24em;
      }

      li.ql-indent-8.ql-direction-rtl.ql-align-right {
        padding-right: 25.5em;
      }

      .ql-indent-9:not(.ql-direction-rtl) {
        padding-left: 27em;
      }

      li.ql-indent-9:not(.ql-direction-rtl) {
        padding-left: 28.5em;
      }

      .ql-indent-9.ql-direction-rtl.ql-align-right {
        padding-right: 27em;
      }

      li.ql-indent-9.ql-direction-rtl.ql-align-right {
        padding-right: 28.5em;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }

    > .card-footer {

      .btn-link {
        text-decoration: none;
        padding: 0;

        &:hover {
          color: $dark;
        }

        &:active {
          color: $text-muted;
        }

        &:not(.float-right) {
          margin-right: 20px;
        }

        &.float-right {
          margin-left: 20px;
        }

        span {
          padding-left: 5px;
        }
      }
    }
  }

  &.dash {
    border: none !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);

    &:not(.card-link) {
      cursor: default;
    }

    &.tabs {
      > .card-header {
        > .nav {
          > .nav-item {
            > .nav-link.active {
              background: $body-bg;
              color: $body-color;
            }
          }
        }
      }
    }

    .card-header {
      background-color: white;
      padding-top: 18px;
      padding-bottom: 18px;
      border-bottom: 2px solid $body-bg;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > .search-bar {
        width: 300px;
      }

      &,
      > a:not(.btn) {
        color: #6F7A8B;
        font-weight: bold;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }

      .card-label {
        padding: 8px 12px;
        margin-bottom: -16px;
        margin-top: -15px;
        background: $body-bg;
        font-weight: bold;
        color: #6F7A8B !important;
        float: right;
        border-radius: $border-radius;
      }
    }

    .card-footer {
      border-top: 2px solid $body-bg;
    }
  }
}

.table {
  tbody {
    tr {
      th {
        font-weight: normal;
        vertical-align: middle;
      }
    }
  }
}

@keyframes transformIn {
  0% {
    //top: 4px;
    opacity: 0;
  }
  100% {
    //top: -8px;
    opacity: 1;
  }
}

.modal {

  .modal-header {
    background: $light;
    box-shadow: $box-shadow-sm;
  }

  .modal-footer {
    background: $light;
  }

  .full {
    max-width: initial;
    margin: 0;
    height: 100%;

    .modal-header {
      background: unset;
    }

    .modal-content {
      border: none;
      background: rgba($dark, 0.75);
    }
  }
}

.progress-vertical {
  width: $progress-height;
  display: flex;
  align-items: flex-end;

  .progress-bar {
    width: 100%;
    height: 0;
    transition: height 0.6s ease;
  }
}

.ngx-toastr {
  background-color: $dark;
  box-shadow: none !important;
  border-left: 4px solid;
  border-radius: $border-radius-sm !important;
  font-size: $font-size-sm;

  &:hover {
    background-color: lighten($dark, 10);
  }

  &.toast-info {
    border-color: $info;
  }

  &.toast-error {
    border-color: $danger;
  }

  &.toast-success {
    border-color: $success;
  }

  .toast-message {
    opacity: 0.75;
  }
}
