@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

$font-family-base: 'Open Sans', 'Roboto', 'Helvetica', sans-serif;
$font-size-base: 0.9rem;

$primary: #2980b9;
$success: #2ecc71;
$danger: #e74c3c;
$secondary: #6f7a8b;
$unimportant: lighten($secondary, 25);

$body-bg: #edeef0;
$body-color: #40454D;

$theme-colors: (
  "unimportant": $unimportant,
);

$navbar-height: 55px;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
