// Not changed but defined to use here
$info: #17a2b8;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #343a40;

$primary: #2980b9;
$success: #2ecc71;
$danger: #e74c3c;
$secondary: #6f7a8b;
$unimportant: lighten($secondary, 25);

$font-family-base: 'Open Sans', 'Roboto', 'Helvetica', sans-serif;
$font-size-base: 0.9rem;

$body-bg: #edeef0;
$body-color: #40454D;

$theme-colors: (
  "unimportant": $unimportant,
);

$navbar-height: 55px;

$input-group-addon-bg: none;
$input-group-addon-color: $dark;

$list-group-border-color: $light;

$card-border-width: 0;

$link-color: $secondary;
$link-hover-color: $dark;
$link-hover-decoration: none;

$table-border-color: $light;

$tooltip-arrow-color: $dark;
$tooltip-bg: $dark;

$modal-footer-border-width: 0;
$modal-content-border-width: 0;
$modal-header-border-width: 0;

$dropdown-link-active-bg: $dark;
$dropdown-border-radius: 0.2rem;
$dropdown-item-padding-y: 0.5rem;

$nav-pills-link-active-color: $secondary;
$nav-pills-link-active-bg: $light;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
