<!-- Profile -->
<form [formGroup]="form" (ngSubmit)="submit()" class="card shadow-lg mx-auto mb-5 mt-5 mt-md-0">
  <div class="card-body p-lg-5">
    <!-- Title -->
    <h4 class="text-center text-uppercase mb-5" translate>USER_SETTINGS</h4>
    <!-- Picture -->
    <div class="form-group d-flex">
      <div class="d-flex flex-column mr-auto pr-3">
        <label translate>PICTURE</label>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-light" [disabled]="loading" (click)="fileElement.click()" translate>
            UPLOAD
          </button>
          <input type="file" [accept]="acceptList" class="d-none" #fileElement (change)="onFileSelected()">
          <button type="button" class="btn btn-light" [disabled]="loading" (click)="submit(true)"
                  translate>
            REMOVE
          </button>
        </div>
      </div>
      <!-- User avatar -->
      <app-user-avatar size="64" [name]="user.name" [media]="user.media" *ngIf="user"></app-user-avatar>
    </div>
    <!-- Name -->
    <div class="form-group">
      <label for="name" translate>NAME</label>
      <input formControlName="name" name="name" id="name" type="text" class="form-control">
    </div>
    <!-- Location -->
    <div class="form-group">
      <label for="location" translate>LOCATION</label>
      <input formControlName="location" name="location" id="location" type="text" class="form-control">
    </div>
    <!-- About -->
    <div class="form-group">
      <label for="about" translate>ABOUT</label>
      <textarea formControlName="about" name="about" id="about" class="form-control"></textarea>
    </div>
    <!-- Receive email notification -->
    <div class="custom-control custom-switch">
      <input formControlName="receive_email_notification" name="receive-email-notification" type="checkbox"
             class="custom-control-input" id="receive-email-notification">
      <label class="custom-control-label" for="receive-email-notification" translate>
        RECEIVE_EMAIL_NOTIFICATION
      </label>
    </div>
  </div>
  <!-- Submit -->
  <div class="card-body bg-light small px-lg-5">
    <button class="btn btn-primary float-right" [disabled]="loading" translate>SAVE_CHANGES</button>
  </div>
</form>
