<!-- Comment form -->
<form class="card-header bg-light" [formGroup]="form" (ngSubmit)="submit()" *ngIf="canComment">
  <div class="media">
    <!-- Comment user (current user) -->
    <img class="rounded-circle mr-3 bg-secondary" *ngIf="!user.media">
    <img class="rounded-circle mr-3 bg-secondary" *ngIf="user.media"
         [src]="user.media.thumbnail_48x48">
    <!-- Comment input and button -->
    <div class="media-body">
      <div class="input-group">
        <!-- Comment input -->
        <textarea name="comment" rows="2" class="form-control" [placeholder]="'ENTER_COMMENT' | translate"
                  autocomplete="off" formControlName="comment" [class.is-invalid]="errors.comment"></textarea>
        <!-- Comment button -->
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" [disabled]="form.invalid || loading">
            <fa-icon icon="paper-plane"></fa-icon>
          </button>
        </div>
      </div>
      <!-- Errors -->
      <p class="text-danger" *ngIf="errors.comment">{{ errors.comment[0] }}</p>
    </div>
  </div>
</form>
