<h2 mat-dialog-title translate>EDIT_CIRCLE</h2>
<form [formGroup]="form.form" (ngSubmit)="updateCircle()">
  <mat-dialog-content class="mat-typography">
    <!-- Name form field -->
    <mat-form-field class="w-100 mb-3" appearance="fill">
      <mat-label translate>NAME</mat-label>
      <input type="text" matInput cdkFocusInitial formControlName="name" required>
      <mat-hint translate>REQUIRED</mat-hint>
      <mat-error translate *ngIf="form.form.get('name').getError('required')">ERROR_THIS_FIELD_IS_REQUIRED</mat-error>
      <mat-error translate *ngIf="form.error['name']">{{ form.error['name'][0] }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!-- Cancel -->
    <button mat-button mat-dialog-close type="button" [disabled]="form.loading">{{ 'CANCEL' | translate }}</button>
    <!-- Submit -->
    <button mat-button type="submit" [disabled]="form.form.invalid || form.loading"
            (click)="updateCircle()">{{'APPLY' | translate}}</button>
  </mat-dialog-actions>
</form>
