<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="password" translate>PASSWORD</label>
  <input type="password" id="password" formControlName="password" [placeholder]="'PASSWORD' | translate"/>
  <label for="password2" translate>CONFIRM_PASSWORD</label>
  <input type="password" id="password2" formControlName="password2" [placeholder]="'CONFIRM_PASSWORD' | translate"/>
  <button type="submit">Submit</button>
  <div *ngIf="error.non_field_errors && error.non_field_errors[0]">
    {{ error.non_field_errors[0] }}
  </div>
</form>
